.posco-kr-flow.json.backup
[{"id":"54fead13.e0d974","type":"tab","label":"Simulator","disabled":false,"info":"CREATE TABLE t_data_send_log\n(\n    `uuid`      VARCHAR(32)        NOT NULL    COMMENT 'uuid' PRIMARY KEY, \n    `time`        DATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          VARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`        INT              NOT NULL    COMMENT 'port',\n    `message`\t  VARCHAR(10)\t  NULL        COMMENT 'message',\n    `dataLength`  INT              NOT NULL    COMMENT 'dataLength', \n    `dataDetail`  VARCHAR(2000)    NOT NULL    COMMENT 'dataDetail'\n);"},{"id":"f41712ff.dd9de","type":"tab","label":"Data Receive ","disabled":false,"info":"DROP TABLE t_ladle_capture;\nCREATE TABLE t_ladle_capture\n(\n\tIDX\t\tSMALLINT\t\t   NOT NULL\t   AUTO_INCREMENT PRIMARY KEY,\n    `time`   DATETIME       NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP,\n    `sender`\t INT\t\t\t   NOT NULL\t\tCOMMENT 'sender',\n    `uuid`   VARCHAR(32)    NOT NULL    COMMENT 'uuid'DEFAULT '0', \n    `temp`  float unsigned zerofill          NOT NULL    COMMENT 't0' DEFAULT '000000000000', \n    `fileName`  VARCHAR(64)       NULL        COMMENT 'fileName', \n    `absPath`   VARCHAR(512)      NULL        COMMENT 'absPath'\n);\nSELECT * FROM t_ladle_capture;\nDROP TABLE t_kr_capture;\nCREATE TABLE t_kr_capture\n(\n\tIDX\t\t\tSMALLINT\t\t   \t NOT NULL \t AUTO_INCREMENT PRIMARY KEY,\n    `time`      DATETIME          NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `sno`       VARCHAR(6)        NULL        COMMENT 'sno' DEFAULT 'CAM01', \n    `uuid`      VARCHAR(32)       NULL        COMMENT 'uuid', \n    `distance`  float unsigned    NULL        COMMENT 'distance', \n    `fileName`  VARCHAR(64)       NULL        COMMENT 'fileName', \n    `absPath`   VARCHAR(512)      NULL        COMMENT 'absPath'\n);\nSELECT * FROM t_kr_capture;\nDROP TABLE t_slab_detail;\nCREATE TABLE t_slab_detail\n(\n\tIDX\t\t\tSMALLINT\t\t   \t NOT NULL \t AUTO_INCREMENT PRIMARY KEY,\n    `time`        DATETIME                   NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `TcNo`        VARCHAR(4)                 NOT NULL        COMMENT 'TcNo', \n    `pltNo`       VARCHAR(10)                NOT NULL        COMMENT 'pltNo', \n    `stClsFlag`   VARCHAR(2)                 NOT NULL        COMMENT 'stClsFlag', \n    `slabThick`   float unsigned zerofill    NOT NULL        COMMENT 'slabThick', \n    `slabWidth`   float unsigned zerofill    NOT NULL        COMMENT 'slabWidth', \n    `slabLength`  float unsigned zerofill    NOT NULL        COMMENT 'slabLength', \n    `slabWeight`  float unsigned zerofill    NOT NULL        COMMENT 'slabWeight', \n    `rollSchema`  INT                        NOT NULL        COMMENT 'rollSchema', \n    `cheCa`       float unsigned zerofill    NULL    COMMENT 'cheCa', \n    `cheNb`       float unsigned zerofill    NULL    COMMENT 'cheNb', \n    `cheV`        float unsigned zerofill    NULL    COMMENT 'cheV', \n    `cheTi`       float unsigned zerofill    NULL    COMMENT 'cheTi', \n    `cheMo`       float unsigned zerofill    NULL    COMMENT 'cheMo', \n    `cheSi`       float unsigned zerofill    NULL    COMMENT 'cheSi', \n    `cheNi`       float unsigned zerofill    NULL    COMMENT 'cheNi', \n    `cheCr`       float unsigned zerofill    NULL    COMMENT 'cheCr', \n    `cheS`        float unsigned zerofill    NULL    COMMENT 'cheS', \n    `cheP`        float unsigned zerofill    NULL    COMMENT 'cheP', \n    `cheMn`       float unsigned zerofill    NULL    COMMENT 'cheMn', \n    `cheC`        float unsigned zerofill    NULL    COMMENT 'cheC'\n);\n\nCREATE TABLE t_rolling_detail\n(\n\tIDX\t\t\tSMALLINT\t\t   \t NOT NULL \t AUTO_INCREMENT PRIMARY KEY,\n    `time`           DATETIME       NOT NULL    COMMENT 'time', \n    `TcNo`           VARCHAR(4)     NOT NULL    COMMENT 'TcNo', \n    `pltNo`          VARCHAR(10)    NOT NULL    COMMENT 'pltNo', \n    `slabAngle`      FLOAT          NOT NULL    COMMENT 'slabAngle', \n    `rollPos_01`     TINYINT        NOT NULL    COMMENT 'rollPos_01', \n    `rollPos_02`     TINYINT        NOT NULL    COMMENT 'rollPos_02', \n    `rollPos_03`     TINYINT        NOT NULL    COMMENT 'rollPos_03', \n    `rollPos_04`     TINYINT        NOT NULL    COMMENT 'rollPos_04', \n    `rollPos_05`     TINYINT        NOT NULL    COMMENT 'rollPos_05', \n    `rollPos_06`     TINYINT        NOT NULL    COMMENT 'rollPos_06', \n    `rollPos_07`     TINYINT        NOT NULL    COMMENT 'rollPos_07', \n    `rollPos_08`     TINYINT        NOT NULL    COMMENT 'rollPos_08', \n    `rollPos_09`     TINYINT        NOT NULL    COMMENT 'rollPos_09', \n    `rollPos_10`     TINYINT        NOT NULL    COMMENT 'rollPos_10', \n    `rollPos_11`     TINYINT        NOT NULL    COMMENT 'rollPos_11', \n    `rollPos_12`     TINYINT        NOT NULL    COMMENT 'rollPos_12', \n    `rollPosAvg_01`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_01', \n    `rollPosAvg_02`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_02', \n    `rollPosAvg_03`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_03', \n    `rollPosAvg_04`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_04', \n    `rollPosAvg_05`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_05', \n    `rollPosAvg_06`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_06', \n    `rollPosAvg_07`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_07', \n    `rollPosAvg_08`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_08', \n    `rollPosAvg_09`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_09', \n    `rollPosAvg_10`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_10', \n    `rollPosAvg_11`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_11', \n    `rollPosAvg_12`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_12'\n);\n\nselect * from t_slab_detail;\nDROP TABLE t_data_receive_log;\nCREATE TABLE t_data_receive_log\n(\n    `ID`\t\t\t\tINT UNSIGNED            NOT NULL    AUTO_INCREMENT COMMENT 'index', \n    `time`         \tDATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          \tVARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`         \tINT              NOT NULL    COMMENT 'port', \n    `dataLength`  \tINT              NOT NULL    COMMENT 'data_length', \n    `dataDetail` \tVARCHAR(1000)    NOT NULL    COMMENT 'data_detail', \n    PRIMARY KEY (ID)\n);\nselect * from t_data_receive_log;\n\nDROP TABLE t_data_send_log;\nCREATE TABLE t_data_send_log\n(\n    `ID`          INT UNSIGNED     NOT NULL    AUTO_INCREMENT COMMENT 'ID', \n    `time`        DATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          VARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`        INT              NOT NULL    COMMENT 'port', \n    `dataLength`  INT              NOT NULL    COMMENT 'dataLength', \n    `dataDetail`  VARCHAR(2000)    NOT NULL    COMMENT 'dataDetail', \n    PRIMARY KEY (ID)\n);\n\nSELECT COUNT(dataLength) from t_data_receive_log;\nSELECT COUNT(dataLength) from t_data_send_log;\nselect * from t_data_send_log;\nselect * from t_slab_detail order by time desc limit 1;"},{"id":"11c5be82.e35261","type":"tab","label":"TEMP","disabled":true,"info":""},{"id":"287e4748.53d488","type":"subflow","name":"Get Base64 Image ","info":"","in":[{"x":250,"y":160,"wires":[{"id":"97a253e9.c2e36"}]}],"out":[{"x":960,"y":160,"wires":[{"id":"2933a13a.4f8c0e","port":0}]}]},{"id":"13c246c5.a075b9","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f47b670b.1ec9f8","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"9b27889e.f66228","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"87897f49.bb314","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"8e948d9e.dcc8d","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"f223e410.d2ab08","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"36e033f4.a4c05c","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"eaa6598a.67f1e8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"7087a64e.399e18","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"84224ca5.bff58","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":""},{"id":"a28692d4.03579","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"536d87d3.cb0088","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"85a94193.17dfb","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"93c6c3fb.1f2ab","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"d6cadf0a.6e81","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fa98ec3b.aa1b8","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5b59d685.7c0388","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"ee78ea3.0bfb418","type":"mysql","z":"287e4748.53d488","mydb":"84224ca5.bff58","name":"","x":670,"y":160,"wires":[["2933a13a.4f8c0e"]]},{"id":"97a253e9.c2e36","type":"function","z":"287e4748.53d488","name":"count init & create sql","func":"console.log(msg);\nif (msg.type === \"KR\") {\n    if (context.global.krcount === NaN || context.global.krcount === 11) {\n        context.global.krcount = 1;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.krcount++;\n} else if (msg.type === \"LADLE\"){\n    if (context.global.ladlecount === NaN || context.global.ladlecount === 22) {\n        context.global.ladlecount = 11;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.ladlecount++;\n} else if (msg.type === \"ML-Example\") {\n    console.log(context.global.mlexample);\n    if (context.global.mlexample === NaN || context.global.mlexample === 50) {\n        context.global.mlexample = 22;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.mlexample++;\n}\nconsole.log(msg.topic);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["ee78ea3.0bfb418"]]},{"id":"2933a13a.4f8c0e","type":"json","z":"287e4748.53d488","name":"","property":"payload","action":"","pretty":false,"x":830,"y":160,"wires":[[]]},{"id":"497a31af.88192","type":"comment","z":"54fead13.e0d974","name":"L2 Data Sender (Disable)","info":"","x":130,"y":480,"wires":[]},{"id":"1ab3a350.084bcd","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["2827308e.7ef5"]]},{"id":"cfc34e4f.93753","type":"config","z":"54fead13.e0d974","name":"Global Init Data","properties":[{"p":"LogFormat","pt":"global","to":"{\"send\":\"t_data_send_log\",\"image_Server_IP\":\"192.168.0.107\",\"send_Port\":52004,\"recv\":\"t_data_receive_log\",\"column\":[\"uuid\",\"ip\",\"port\",\"message\",\"dataLength\",\"dataDetail\"]}","tot":"json"},{"p":"SendDataFormat","pt":"global","to":"[{\"tc\":3181,\"title\":[\"TC_CODE\",\"SEQUENCE_NO\",\"Time\"],\"type\":[\"char\",\"short\",\"datetime\"],\"len\":[4,5,14]},{\"tc\":3183,\"title\":[\"TC_CODE\",\"SEQUENCE_NO\",\"Time\"],\"type\":[\"char\",\"short\",\"datetime\"],\"len\":[4,5,14]},{\"tc\":3184,\"title\":[\"TC_CODE\",\"SEQUENCE_NO\",\"Time\",\"CHE_S\",\"CHE_SI\",\"KR_TM\",\"KR_WGT\",\"LADLE_NO\"],\"type\":[\"char\",\"short\",\"datetime\",\"short\",\"short\",\"short\",\"int\",\"short\"],\"len\":[4,5,14,5,5,5,10,5]}]","tot":"json"},{"p":"FormatData","pt":"global","to":"[{\"TC_CODE\":\"3180\",\"Process\":\"1KR\",\"DataLength\":44},{\"TC_CODE\":\"3181\",\"Process\":\"1KR\",\"DataLength\":44},{\"TC_CODE\":\"3182\",\"Process\":\"1KR\",\"DataLength\":44},{\"TC_CODE\":\"3183\",\"Process\":\"1KR\",\"DataLength\":44},{\"TC_CODE\":\"3184\",\"Process\":\"1KR\",\"DataLength\":66}]","tot":"json"},{"p":"MSG_3180","pt":"global","to":"{\"db\":\"t_msg_kr_history\",\"length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"SEQUNCE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"int\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"SEQUENCE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3181","pt":"global","to":"{\"db\":\"t_msg_kr_history\",\"length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"SEQUENCE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"int\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"SEQUENCE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3182","pt":"global","to":"{\"db\":\"t_msg_kr_history\",\"length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"SEQUENCE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"SEQUENCE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3183","pt":"global","to":"{\"db\":\"t_msg_kr_history\",\"length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"SEQUENCE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"int\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"SEQUENCE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3184","pt":"global","to":"{\"db\":\"t_msg_3184\",\"length\":66,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"SEQUENCE_NO\",\"CHE_S\",\"CHE_SI\",\"KR_TM\",\"KR_WGT\",\"LADLE_NO\",\"SPARE_1\",\"SPARE_2\",\"SPARE_3\",\"SPARE_4\",\"SPARE_5\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"int\",\"short\",\"short\",\"short\",\"int\",\"short\",\"short\",\"short\",\"short\",\"short\",\"short\"],\"len\":[3,4,14,5,14,4,2,2,2,4,2,2,2,2,2,2],\"dbsechma\":[\"SEQUENCE_NO\",\"CHE_S\",\"CHE_SI\",\"KR_TM\",\"KR_WGT\",\"LADLE_NO\",\"SPARE_1\",\"SPARE_2\",\"SPARE_3\",\"SPARE_4\",\"SPARE_5\"]}","tot":"json"},{"p":"S_MSG_3020","pt":"global","to":"{\"db\":\"t_msg_3020\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1KR\",\"3020\"]}","tot":"json"},{"p":"S_MSG_3021","pt":"global","to":"{\"db\":\"t_msg_3021\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1KR\",\"3022\"]}","tot":"json"},{"p":"S_MSG_3022","pt":"global","to":"{\"db\":\"t_msg_3022\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1KR\",\"3022\"]}","tot":"json"},{"p":"S_MSG_3023","pt":"global","to":"{\"db\":\"t_msg_3023\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1KR\",\"3023\"]}","tot":"json"},{"p":"ML_RESULT","pt":"global","to":"{\"db\":\"t_kr_ml_result\",\"title\":[\"uuid\",\"project\",\"result\",\"tc_code\",\"spare\"],\"type\":[\"char\",\"char\",\"float\",\"char\",\"char\"]}","tot":"json"}],"active":true,"x":160,"y":100,"wires":[]},{"id":"58922238.153e1c","type":"comment","z":"54fead13.e0d974","name":"[ 관리자 내부 변수 초기화 ]","info":"","x":120,"y":60,"wires":[]},{"id":"62edc1f2.71d96","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["cfa275f2.795e28","932104f4.0fe178"]]},{"id":"cfa275f2.795e28","type":"function","z":"54fead13.e0d974","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\ncontext.global.todaydate = date.yyyymmdd();\n// context.global.set(\"YYYYMMDD\", \"20180101\");\n\nreturn;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[[]]},{"id":"2827308e.7ef5","type":"function","z":"54fead13.e0d974","name":"Make-Data-Set Ver 1.0","func":"//Function Area -----------------------------------------------------------------------------------------\nDate.prototype.yyyymmdd = function() {\n    function pad2(n) {  // always returns a string\n        return (n < 10 ? '0' : '') + n;\n    }\n\n    return this.getFullYear() +\n        pad2(this.getMonth() + 1) + \n        pad2(this.getDate()) +\n        pad2(this.getHours()) +\n        pad2(this.getMinutes()) +\n        pad2(this.getSeconds());\n};\n\nfunction getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction getUIDwithSize(len,size){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return checkLengthString(out, size);\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check === undefined) {\n        check = (str.toString()).length;\n    }\n    console.log(str +\":\"+ len +\":\"+ check)\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomShort(size) {\n    var result =0;\n    if (size === 2)\n        result = Math.round(Math.random() *100);\n    else if (size === 3)\n        result = Math.round(Math.random() *1000);\n    else if (size === 4)\n        result = Math.round(Math.random() *10000);\n\n    return checkLengthString(result, size);\n}\n\nfunction getRandomInt(multiple,size) {\n    var value = Math.round(Math.random() * multiple);\n    return checkLengthString(value, size);\n}\n\nfunction getBooleanData(value) {\n    if (value) {\n        return Math.round((Math.random() * 1) + 0) === 0;    \n    } else {\n        var resultStr = Math.round((Math.random() * 1) + 0) === 0;\n        if (resultStr === true)\n            return 1;\n        else\n            return 0;\n    }\n}\n\nfunction makeData(msgType, format, lastClose) {\n    console.log(format);\n    var size = format.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(format.type[i]) {\n            case 'char' :\n                {\n                    if (format.title[i] === \"Process\") {\n                        output += msgType.Process;\n                    } else if (format.title[i] === \"Time\") {\n                        var date = new Date();\n                        output += date.yyyymmdd();\n                    } else if (format.title[i] === \"Spare\") {\n                        output += checkLengthString(\"\",format.len[i]);\n                    } else if (format.title[i] === \"CHARGE_NO\") {\n                        output += getUIDwithSize(8, format.len[i]);\n                    } else if (format.title[i] === \"TC_CODE\") {\n                        output += msgType.TC_CODE;\n                    } else if (format.title[i] === \"Length\") {\n                        var length = msgType.DataLength;\n                        output += checkLengthString(length,format.len[i]);\n                    } else {\n                        output += getUID(format.len[i]);\n                    }\n                    break;\n                }\n            case 'short' :\n                output += getRandomShort(format.len[i]);\n                break;\n            case 'boolean' :\n                output += getBooleanData(false);\n                continue;\n            case 'int' :\n                if (format.len[i] === 2)\n                    output += getRandomInt(100, format.len[i]);\n                else if (format.len[i] === 3)\n                    output += getRandomInt(1000, format.len[i]);\n                else if (format.len[i] === 4)\n                    output += getRandomInt(10000, format.len[i]);\n                break;\n            case 'datetime' :\n                var date = new Date();\n                output += date.yyyymmdd();                \n                break;\n        }\n    }\n    if (lastClose === true)\n        output += \"\\n\";\n    console.log(output);\n    console.log(output.length);\n    return output;\n}\n//Main Area ---------------------------------------------------------------------------------------------\nvar size = context.global.FormatData.length;\nvar formatArray = [];\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    formatArray.push(format);\n}\nvar randomValue = Math.floor(Math.random()*(formatArray.length));\nconsole.log(randomValue);\nconsole.log(formatArray);\nmsg.payload = makeData(formatArray[randomValue], context.global.FormatObjMap.get(formatArray[randomValue].TC_CODE), false);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["9dea94b3.b63518"]]},{"id":"8318bcd3.34e85","type":"comment","z":"54fead13.e0d974","name":"DDS AI Server Sender","info":"","x":120,"y":280,"wires":[]},{"id":"d6560ef.5046ef","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["d2795d42.5c4ef"]]},{"id":"4a344b11.c984f4","type":"function","z":"54fead13.e0d974","name":"Make Data","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n    }\n    // ensure that the uid is unique for this page\n    return out;\n}\n\nfunction getSNO() {\n    return \"CAM01\";\n}\n\nfunction getRandom() {\n    var bottomValue = Math.round(Math.random() *1000);\n    var topValue = Math.round(Math.random() *1000);\n    return topValue + \".\" + bottomValue;\n}\nvar base64Image = JSON.parse(msg.payload);\nvar strImage = base64Image[0].value;\nvar postLadleData = {\n    id : getSNO(),\n    distance : parseFloat(getRandom()),\n    image : strImage\n};\n\nmsg.payload = postLadleData;\n\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["1d8c363e.ba98ea"]]},{"id":"1d8c363e.ba98ea","type":"http request","z":"54fead13.e0d974","name":"Post KR","method":"POST","ret":"obj","url":"http://localhost:1881/thingspin/api/kr","tls":"","x":880,"y":320,"wires":[["e7814e68.61b64"]]},{"id":"e7814e68.61b64","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":320,"wires":[]},{"id":"9dea94b3.b63518","type":"tcp request","z":"54fead13.e0d974","server":"localhost","port":"50000","out":"sit","splitc":" ","name":"L2 Data Simulator (Disalble)","x":620,"y":520,"wires":[["3e408a78.336056"]]},{"id":"3e408a78.336056","type":"function","z":"54fead13.e0d974","name":"Response Data Convert","func":"var resultStrData = msg.payload.toString('utf-8');\nmsg.dataLength = msg.payload.length;\nmsg.payload = resultStrData;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":520,"wires":[["80664747.617f48"]]},{"id":"80664747.617f48","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":520,"wires":[]},{"id":"e07965b.e084d98","type":"subflow:287e4748.53d488","z":"54fead13.e0d974","name":"","x":510,"y":320,"wires":[["4a344b11.c984f4"]]},{"id":"d2795d42.5c4ef","type":"function","z":"54fead13.e0d974","name":"Set Type","func":"msg.type = \"KR\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["e07965b.e084d98"]]},{"id":"932104f4.0fe178","type":"function","z":"54fead13.e0d974","name":"Init Format Map","func":"if (context.global.FormatObjMap === undefined || context.global.FormatObjMap === null)\n    context.global.FormatObjMap = new Map();\nelse\n    context.global.FormatObjMap.clear();\n\nvar size = context.global.FormatData.length;\nconsole.log(size);\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    if (format.TC_CODE === \"3180\")\n        context.global.FormatObjMap.set(format.TC_CODE, context.global.MSG_3180);\n    else if (format.TC_CODE === \"3181\")\n        context.global.FormatObjMap.set(format.TC_CODE, context.global.MSG_3181);\n    else if (format.TC_CODE === \"3182\")\n        context.global.FormatObjMap.set(format.TC_CODE, context.global.MSG_3182);\n    else if (format.TC_CODE === \"3183\")\n        context.global.FormatObjMap.set(format.TC_CODE, context.global.MSG_3183);\n    else if (format.TC_CODE === \"3184\")\n        context.global.FormatObjMap.set(format.TC_CODE, context.global.MSG_3184);\n}\n\ncontext.global.krcount = 1;\ncontext.global.ladlecount = 11;\n\nconsole.log(context.global.FormatData);\nreturn;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[[]]},{"id":"3ebe2726.f59f58","type":"http in","z":"f41712ff.dd9de","name":"KR","url":"/thingspin/api/kr","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["aa8b846f.2ac8d8"]]},{"id":"aa8b846f.2ac8d8","type":"json","z":"f41712ff.dd9de","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":160,"wires":[["2567aa86.d760a6","3fa8b6f.f4c104a"]]},{"id":"c887e0bf.a6522","type":"config","z":"f41712ff.dd9de","name":"Config","properties":[{"p":"basePath","pt":"global","to":"/Users/jiwoongpark/ThingSPIN/src/github.com/thingspin/thingspin/data/thingspin/images/","tot":"str"},{"p":"filePrefix","pt":"global","to":"KR","tot":"str"},{"p":"fileLadlePrefix","pt":"global","to":"LADEL","tot":"str"},{"p":"mlPrefix","pt":"global","to":"mlexam","tot":"str"},{"p":"basePath-ORG","pt":"flow","to":"D:\\\\thingspin\\\\server\\\\data\\\\thingspin\\\\images\\\\","tot":"str"}],"active":true,"x":90,"y":40,"wires":[]},{"id":"3a4db9c3.af6e76","type":"tcp in","z":"f41712ff.dd9de","name":"","server":"server","host":"","port":"50000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":140,"y":440,"wires":[["cd6afc81.de2b8","bbccdb3a.6c46f8","d2c1642e.47ca68"]]},{"id":"4ebde6c2.bbb228","type":"comment","z":"f41712ff.dd9de","name":"Data Slice and Insert to DB","info":"","x":410,"y":500,"wires":[]},{"id":"7092aab1.b6dd04","type":"comment","z":"f41712ff.dd9de","name":"Input Infomation Insert to DB","info":"","x":420,"y":400,"wires":[]},{"id":"af37812f.6f477","type":"comment","z":"f41712ff.dd9de","name":"HTTP KR POST Process","info":"","x":150,"y":120,"wires":[]},{"id":"be09d705.39f868","type":"comment","z":"f41712ff.dd9de","name":"TCP Server Process","info":"","x":130,"y":380,"wires":[]},{"id":"c28b4f15.c857e","type":"comment","z":"f41712ff.dd9de","name":"MQTT Process","info":"","x":140,"y":1300,"wires":[]},{"id":"8746662a.23cd48","type":"comment","z":"f41712ff.dd9de","name":"TCP Server Example Process","info":"","x":180,"y":1600,"wires":[]},{"id":"3368ca17.0f0966","type":"mqtt in","z":"f41712ff.dd9de","name":"","topic":"/test/result","qos":"2","broker":"536d87d3.cb0088","x":180,"y":1400,"wires":[["cdd9da0f.904748"]]},{"id":"cdd9da0f.904748","type":"delay","z":"f41712ff.dd9de","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1400,"wires":[["69c32ed6.1560d","b7fd8072.718a2"]]},{"id":"69c32ed6.1560d","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":1460,"wires":[]},{"id":"4f874f5b.a9cb6","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":1680,"wires":[]},{"id":"54f621fb.3ac98","type":"tcp in","z":"f41712ff.dd9de","name":"","server":"server","host":"","port":"52004","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":180,"y":1680,"wires":[["6d01f27a.dc6e2c"]]},{"id":"acef7045.c2923","type":"function","z":"f41712ff.dd9de","name":"Create insert mariadb query ","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction makeColumnString(dataType, valueData) {\n    var title = dataType.dbsechma;\n    var type = dataType.type;\n    var columns = \"(\";\n    var values = \"(\";\n    console.log(title);\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'char')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'char')\n                values += valueData.get(title[i]) + \",\";\n            else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    console.log(result);\n    return result;\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar dataMap = context.global.dataMap;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\n// console.log(dataMap);\n// console.log(msg.tag);\n// console.log(dataFormat);\nvar queryInputData = makeColumnString(dataFormat, dataMap);\nvar queryStr = \"insert into \" + dataFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":540,"wires":[["21342357.0f670c"]]},{"id":"ff33c5a3.ce4298","type":"function","z":"f41712ff.dd9de","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-msg-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TC_CODE:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":600,"wires":[["ed2436b5.6f2288"]]},{"id":"ed2436b5.6f2288","type":"influxdb batch","z":"f41712ff.dd9de","influxdb":"85a94193.17dfb","precision":"ms","retentionPolicy":"","name":"","x":1010,"y":600,"wires":[]},{"id":"21342357.0f670c","type":"mysql","z":"f41712ff.dd9de","mydb":"a28692d4.03579","name":"","x":970,"y":540,"wires":[[]]},{"id":"2a4ef654.70bfba","type":"http response","z":"f41712ff.dd9de","name":"","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"b66bba6b.4e1958","type":"function","z":"f41712ff.dd9de","name":"construct-by-WIN","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate());\n}\n\nvar p = msg.payload;\nvar metric = {};\n\nvar path = context.global.basePath;\nconsole.log(path);\n\nif (context.global.todaydate === undefined) {\n    context.global.todaydate = nowDateFormat();\n}\n\nvar date = context.global.todaydate;\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path + date + \"\\\\\\\\\",\n    image: p.image,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":570,"y":180,"wires":[["6441d114.b3bfa"],["c0c498dc.6d95e8"]]},{"id":"c0c498dc.6d95e8","type":"function","z":"f41712ff.dd9de","name":"img","func":"var fs = global.get(\"mkdirp\");\n\nfs(msg.path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\n\n// var b = global.get(\"base64-to-image\");\nvar b = global.get(\"base64-img\");\nconsole.log(b);\n\nvar filePrefix = context.global.filePrefix;\n\nvar image = msg.image;\nvar path = msg.path;\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\n// var option = {\n//     fileName: fileName,\n//     type: 'jpg'\n// };\nconsole.log(new Date().getTime());\nvar imageInfo = b.imgSync(image, path, fileName);\nconsole.log(new Date().getTime());\nconsole.log(imageInfo);\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["e1789fe5.7655","87f22f2c.cbbd5","ce89b36a.82956"]]},{"id":"af433dbc.89d69","type":"mysql","z":"f41712ff.dd9de","mydb":"a28692d4.03579","name":"posco-ai","x":1140,"y":180,"wires":[[]]},{"id":"e1789fe5.7655","type":"function","z":"f41712ff.dd9de","name":"SQL","func":"var sql = \"INSERT INTO t_kr_capture (sno, uuid, distance, fileName, absPath) values \";\n\nvar r = {\n    sno: msg.metric.id,\n    uuid: msg._msgid,\n    distance: msg.metric.distance,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n};\n\nvar values = \"\\\"\" + r.sno + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  r.distance + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\"\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["af433dbc.89d69","f0173689.0c5c88"]]},{"id":"6441d114.b3bfa","type":"function","z":"f41712ff.dd9de","name":"response-kr","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    Result:\"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["2a4ef654.70bfba"]]},{"id":"3c928099.7cf49","type":"mqtt in","z":"f41712ff.dd9de","name":"","topic":"#","qos":"2","broker":"536d87d3.cb0088","x":170,"y":1340,"wires":[["7f84a64d.76c1f8"]]},{"id":"a359341d.57dcd8","type":"status","z":"54fead13.e0d974","name":"","scope":["fa1aa31c.6e35d","9dea94b3.b63518","87af90e1.75f6a"],"x":140,"y":200,"wires":[["cfa275f2.795e28","932104f4.0fe178"]]},{"id":"96543948.563648","type":"function","z":"f41712ff.dd9de","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\nvar sender_ip = \"\";\nif (msg.type === \"recv\")\n    sender_ip = msg.ip.slice(7, msg.ip.length);\nelse\n    sender_ip = msg.ip;\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nvar strData = msg.payload.toString('utf-8');\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-recv-${YYYYMMDD}`,\n    fields:{\n        Data:strData\n    },\n    tags: {\n        TcNo:msg.tag,\n        IP:sender_ip\n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":440,"wires":[["749054b6.3a7bfc"]]},{"id":"d2c1642e.47ca68","type":"function","z":"f41712ff.dd9de","name":"Set Msg Type","func":"msg.type = \"recv\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["96543948.563648"]]},{"id":"749054b6.3a7bfc","type":"influxdb batch","z":"f41712ff.dd9de","influxdb":"85a94193.17dfb","precision":"ms","retentionPolicy":"","name":"","x":950,"y":440,"wires":[]},{"id":"2567aa86.d760a6","type":"function","z":"f41712ff.dd9de","name":"construct-by-MAC","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate());\n}\n\nvar p = msg.payload;\nvar metric = {};\n\nvar path = context.global.basePath;\nconsole.log(path);\n\nif (context.global.todaydate === undefined) {\n    context.global.todaydate = nowDateFormat();\n}\n\nvar date = context.global.todaydate;\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path + date + \"/\",\n    image: p.image,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":570,"y":140,"wires":[["6441d114.b3bfa"],["c0c498dc.6d95e8"]]},{"id":"cd6afc81.de2b8","type":"function","z":"f41712ff.dd9de","name":"Buffer Parsing Process","func":"/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n        \n    if (context.global.dataType === undefined || context.global.dataType === null)\n        context.global.dataType = new Map();\n    else\n        context.global.dataType.clear();\n    // console.log(format);\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i === 0) {\n            sumTotal += (format.len[i])\n            if (format.type[i] === 'char') {\n                context.global.dataMap.set(format.title[i],msg.payload.slice(i, sumTotal).toString('utf-8'));\n            } else if (format.type[i] === 'short') {\n                var buff = new Buffer(format.len[i]);\n                buff = msg.payload.slice(i, sumTotal);\n                var inputValue = (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);\n                delete buff;\n            } else if (format.type[i] === 'int') {\n                var buff = new Buffer(format.len[i]);\n                buff = msg.payload.slice(i, sumTotal);\n                var inputValue = (buff.readUInt8(3) << 24) + (buff.readUInt8(2) << 16) + (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);\n                delete buff;\n            } \n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            // console.log(\"first :\" +sumTotal + \" cut :\" +  ((sumTotal) + format.len[i]));\n            var buff = new Buffer(format.len[i]);\n            buff = msg.payload.slice(sumTotal, (sumTotal) + format.len[i]);\n\n            if (format.type[i] === 'char') {\n                context.global.dataMap.set(format.title[i], buff.toString('utf-8'));\n            } else if (format.type[i] === 'short') {\n                var inputValue = (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);\n            } else if (format.type[i] === 'int') {\n                var inputValue = (buff.readUInt8(3) << 24) + (buff.readUInt8(2) << 16) + (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);               \n            }\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n            delete buff;\n        }\n    }\n}\n\nfunction confirmMsg(strData) {\n    var size = context.global.FormatData.length;\n    for (var i=0; i<size; i++) {\n        var format = context.global.FormatData[i];\n        if (strData.length === format.DataLength) {\n            var defineData = context.global.FormatObjMap.get(format.TC_CODE);\n            translateData(strData, defineData);\n        } else {\n            continue;\n        }\n    }\n}\n\nconfirmMsg(msg.payload);\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'char') {\n        // console.log(value);\n        // object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TC_CODE')\n            msg.tag = value;\n        else if (key === 'Length') {\n            // object[key] = value.trim();\n            object[key] = parseInt(value);\n        } else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\ncontext.global.dataType = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["acef7045.c2923","ff33c5a3.ce4298","e6fdcca0.9e6e1","e8c5af80.38573"]]},{"id":"bbccdb3a.6c46f8","type":"debug","z":"f41712ff.dd9de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":620,"wires":[]},{"id":"e6fdcca0.9e6e1","type":"debug","z":"f41712ff.dd9de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":660,"wires":[]},{"id":"e8c5af80.38573","type":"function","z":"f41712ff.dd9de","name":"Make Data to Media Server","func":"function checkLengthString(str, len, type) {\n    if (type === \"char\") {\n        var check = str.length;\n        if (check === undefined) {\n            str = String(str);\n            check = str.length;\n        }\n        if (check < len) {\n            for (var i = 0 ; i < (len - check) ; i++) {\n                str += \" \";\n            }\n        } else if(check > len) {\n            str = str.slice(0, len)\n        }\n        return str;\n    } else {\n        str = String(str);\n        var check = str.length;\n        var temp = \"\";\n        if (check < len) {\n            for (var i = 0 ; i < (len - check) ; i++) {\n                temp += \"0\";\n            }\n            str = temp + str;\n        } else if(check > len) {\n            str = str.slice(0, len)\n        }\n        return str;\n    }\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate()) + checkZeroTime(nowTime.getHours()) + checkZeroTime(nowTime.getMinutes()) + checkZeroTime(nowTime.getSeconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\"\n    var formatData = context.global.SendDataFormat.filter(function(obj){ return obj.tc === Number(msg.tag) })[0];\n    console.log(formatData);\n    if (formatData !== undefined) {\n        var result;\n        for (var i=0; i< formatData.title.length; i++) {\n            if (formatData.title[i] === 'TC_CODE') {\n                returnStr += msg.tag;\n                continue;\n            } else if (formatData.title[i] === 'SEQUENCE_NO') {\n                result = msg.fields.SEQUENCE_NO;\n            } else if (formatData.title[i] === 'Time') {\n                returnStr += nowDateFormat();\n                continue;\n            } else if (formatData.title[i] === 'CHE_S') {\n                result = msg.fields.CHE_S;\n            } else if (formatData.title[i] === 'CHE_SI') {\n                result = msg.fields.CHE_SI;\n            } else if (formatData.title[i] === 'KR_TM') {\n                result = msg.fields.KR_TM;\n            } else if (formatData.title[i] === 'KR_WGT') {\n                result = msg.fields.KR_WGT;         \n            } else if (formatData.title[i] === 'LADLE_NO') {\n                result = msg.fields.LADLE_NO;            \n            } else {\n                continue;\n            }\n            returnStr += checkLengthString(result, formatData.len[i], formatData.type[i]);\n        }\n        if (value === true) {\n            returnStr += \"\\n\";\n        }\n        console.log(returnStr);\n        console.log(returnStr.length);\n        return returnStr;\n    }\n    return '';\n}\nmsg.payload = createDataRefine(false);\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":720,"wires":[["66b150a3.388b7","d297757b.71ba28"]]},{"id":"3b33b50e.177a6a","type":"tcp in","z":"11c5be82.e35261","name":"","server":"server","host":"","port":"5001","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":140,"y":220,"wires":[["2460762f.feccea","ba1f9162.d44a"]]},{"id":"2460762f.feccea","type":"debug","z":"11c5be82.e35261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":300,"wires":[]},{"id":"ba1f9162.d44a","type":"function","z":"11c5be82.e35261","name":"","func":"var orgData = msg.payload;\n\nvar tempBuff1 = new Buffer(12);\ntempBuff1 = orgData.slice(0,12);\nconsole.log(tempBuff1);\nfor (var i = 0; i < tempBuff1.length; i++) {\n  console.log(tempBuff1.readInt8(i));\n}\nconsole.log(tempBuff1.toString('utf-8'));\n\nvar tempBuff2 = new Buffer(2);\ntempBuff2 = orgData.slice(12,14);\nconsole.log(tempBuff2);\nfor (var i = 0; i < tempBuff2.length; i++) {\n  console.log(tempBuff2.readInt8(i));\n}\n// for (var i = 0; i < tempBuff2.length; i++) {\n  console.log(tempBuff2.readUInt16BE(0));\n// }\n\n console.log((tempBuff2.readUInt8(1) << 8) + tempBuff2.readUInt8(0));\n\n\nvar tempBuff3 = new Buffer(4);\ntempBuff3.fill(0);\ntempBuff3 = orgData.slice(16,20);\nconsole.log(tempBuff3);\nfor (var i = 0; i < tempBuff3.length; i++) {\n  console.log(tempBuff3.readInt8(i));\n}\n// for (var i = 0; i < tempBuff2.length; i++) {\n  console.log(tempBuff3.readUInt32BE(0));\n// }\nconsole.log((tempBuff3.readUInt8(0)));\nconsole.log((tempBuff3.readUInt8(1) << 8));\nconsole.log((tempBuff3.readUInt8(2) << 16));\nconsole.log((tempBuff3.readUInt8(3) << 24));\n\nvar bufInt = (tempBuff3.readUInt8(3) << 24) + (tempBuff3.readUInt8(2) << 16) + (tempBuff3.readUInt8(1) << 8) + tempBuff3.readUInt8(0);\nconsole.log(bufInt);\n\n\nmsg.payload = strData;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["787d97d5.238c08"]]},{"id":"787d97d5.238c08","type":"debug","z":"11c5be82.e35261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"e082aab5.ba5168","type":"function","z":"11c5be82.e35261","name":"Data Process","func":"//Function Area -----------------------------------------------------------------------------------------\ncontext.global.dataType = new Map();\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    // var dataMap = new Map();\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i == 0) {\n            sumTotal += (format.len[i])\n            context.global.dataMap.set(format.title[i], str.slice(i, sumTotal))\n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            context.global.dataMap.set(format.title[i], str.slice(sumTotal, sumTotal + format.len[i]));\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n        }\n    }\n    // console.log(context.global.dataMap);\n}\n\nfunction confirmMsg(strData) {\n    var size = context.global.FormatData.length;\n    for (var i=0; i<size; i++) {\n        var format = context.global.FormatData[i];\n        if (strData.length === format.DataLength) {\n            var defineData = context.global.FormatObjMap.get(format.TC_CODE);\n            translateData(strData, defineData);\n        } else {\n            continue;\n        }\n    }\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar strData = msg.payload.toString('utf-8');\nconsole.log(strData);\nconfirmMsg(strData);\n\n\n\n// var mapData = translateData(msg.payload, context.global.SlabFormat);\n// console.log(context.global.dataType);\n//JSON으로 변환시 이용\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'char') {\n        // console.log(value)ds;\n        object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TC_CODE')\n            msg.tag = value;\n        else if (key === 'Length') {\n            object[key] = value.trim();\n            object[key] = parseInt(value);\n        } else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\ncontext.global.dataType = null;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[[]]},{"id":"298d24b3.08539c","type":"comment","z":"11c5be82.e35261","name":"Data Slice and Insert to DB","info":"","x":190,"y":60,"wires":[]},{"id":"66b150a3.388b7","type":"tcp out","z":"f41712ff.dd9de","host":"192.168.0.103","port":"52004","beserver":"client","base64":false,"end":false,"name":"Send To Media Server","x":1020,"y":720,"wires":[]},{"id":"d297757b.71ba28","type":"function","z":"f41712ff.dd9de","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\nvar sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_msg = msg.sendmsg;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nvar strData = msg.payload.toString('utf-8');\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-simulator-${YYYYMMDD}`,\n    fields:{\n        Data:strData\n    },\n    tags: {\n        TcNo:msg.tag,\n        IP:sender_ip\n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":780,"wires":[["fb2d770e.fb0e68"]]},{"id":"fb2d770e.fb0e68","type":"influxdb batch","z":"f41712ff.dd9de","influxdb":"85a94193.17dfb","precision":"ms","retentionPolicy":"","name":"","x":1230,"y":780,"wires":[]},{"id":"6d01f27a.dc6e2c","type":"function","z":"f41712ff.dd9de","name":"","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1680,"wires":[["4f874f5b.a9cb6"]]},{"id":"b7fd8072.718a2","type":"tcp out","z":"f41712ff.dd9de","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Response","x":580,"y":1400,"wires":[]},{"id":"87f22f2c.cbbd5","type":"function","z":"f41712ff.dd9de","name":"Create MQTT Data ","func":"var fileName = msg.info.fileName;\nvar folder = msg.info.path;\nvar jsonData = \n{\n    \"uuid\":msg._msgid,\n    \"camera\":msg.metric.id\n}\n\nmsg.payload = jsonData;\n\nmsg.topic = \"THINGSPIN/EDGEAI/KR/IN/0\";\nmsg.qos = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["db298103.50797"]]},{"id":"e2ddd466.fe28a8","type":"mqtt out","z":"f41712ff.dd9de","name":"","topic":"","qos":"","retain":"","broker":"d6cadf0a.6e81","x":1370,"y":300,"wires":[]},{"id":"db298103.50797","type":"delay","z":"f41712ff.dd9de","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":300,"wires":[["e2ddd466.fe28a8"]]},{"id":"ce89b36a.82956","type":"debug","z":"f41712ff.dd9de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":240,"wires":[]},{"id":"f0173689.0c5c88","type":"debug","z":"f41712ff.dd9de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":240,"wires":[]},{"id":"14578807.8c7198","type":"mqtt in","z":"f41712ff.dd9de","name":"","topic":"THINGSPIN/EDGEAI/+/OUT","qos":"2","broker":"fa98ec3b.aa1b8","x":240,"y":1520,"wires":[["beee4be8.6f8a38","69c32ed6.1560d"]]},{"id":"cde1cc64.f536c","type":"function","z":"f41712ff.dd9de","name":"Make Update DB Query","func":"function makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(\";\n    var values = \"(\";\n    console.log(title);\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'char')\n                values += valueData[title[i]] + \")\";\n            else\n                values += \"'\" + valueData[title[i]] + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'char')\n                values += valueData[title[i]] + \",\";\n            else \n                values += \"'\" + valueData[title[i]] + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    console.log(result);\n    return result;\n}\n\n\nvar ml_db_info = context.global.ML_RESULT;\nvar inputData = msg.payload;\nvar queryInputData = makeColumnString(ml_db_info, msg.payload);\nvar dupligate = \" on duplicate key update uuid=uuid\";\n\nvar queryStr = \"insert into \" + ml_db_info.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr + dupligate;\nconsole.log(queryStr);\nmsg.topic = queryStr;\nmsg.payload = {\n    \"tc_code\": inputData[\"tc_code\"],\n    \"result\" : inputData[\"result\"]\n};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1520,"wires":[["92db7c92.3a93f","c64fdf88.5ab9c"]]},{"id":"beee4be8.6f8a38","type":"json","z":"f41712ff.dd9de","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1520,"wires":[["cde1cc64.f536c"]]},{"id":"7f84a64d.76c1f8","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":1340,"wires":[]},{"id":"92db7c92.3a93f","type":"mysql","z":"f41712ff.dd9de","mydb":"a28692d4.03579","name":"","x":950,"y":1520,"wires":[[]]},{"id":"c64fdf88.5ab9c","type":"function","z":"f41712ff.dd9de","name":"Make Data to L2 Server","func":"var dataType = msg.sendType;\nvar data = msg.value;\nvar dataFormat;\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n    var parseData = parseFloat(resultData);\n    var buff = new Buffer(4);\n    \n    return buff.writeFloatBE(parseData);\n}\n\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate()) + checkZeroTime(nowTime.getHours()) + checkZeroTime(nowTime.getMinutes()) + checkZeroTime(nowTime.getSeconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction initDataFormat(value) {\n    console.log(value);\n    switch(value) {\n        case \"3020\":\n            dataFormat = context.global.S_MSG_3020;\n            console.log(dataFormat);\n            return true;\n        case \"3021\":\n            dataFormat = context.global.S_MSG_3021;\n            return true;\n        case \"3022\":\n            dataFormat = context.global.S_MSG_3022;\n            return true;\n        case \"3023\":\n            dataFormat = context.global.S_MSG_3023;\n            return true;\n        default:\n            return false;\n    }\n}\n\nif(initDataFormat(msg.payload.tc_code)) {\n    var sendBuff = new Buffer(dataFormat.Length);\n    sendBuff.fill(0);\n    var sumTotal = 0;\n    for (var count=0;count < dataFormat.title.length;count++) {\n        var title = dataFormat.title[count];\n\n        if (dataFormat.type[count] === \"char\") {\n            if (title === \"Process\" || title === \"TC_CODE\") {\n                if (count === 0) {\n                    console.log(\"sumTotal : \" + 0 + \" END : \" + dataFormat.len[count]);\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], 0, dataFormat.len[count]);    \n                } else {\n                    console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], sumTotal, ((sumTotal) + dataFormat.len[count]));\n                }\n            } else if (title === \"Time\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                var date = nowDateFormat();\n                console.log(date);\n                sendBuff.write(date, sumTotal, (sumTotal) + dataFormat.len[count]);\n            } else if (title === \"Length\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(dataFormat.Length + \"   \");\n                sendBuff.write(dataFormat.Length + \"   \", sumTotal, ((sumTotal) + dataFormat.len[count]));\n            } else if (title === \"Spare\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(\"             \");\n                sendBuff.write(\"             \", sumTotal, (sumTotal) + dataFormat.len[count]);\n            }\n            sumTotal += (dataFormat.len[count]);\n        } else if (dataFormat.type[count] === \"float\") {\n            console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) - dataFormat.len[count]));\n            // sendBuff.writeFloatLE(15.357, sumTotal);\n            sendBuff.writeFloatLE(parseFloat(msg.payload.result), sumTotal);\n            console.log(sendBuff);\n            // sendBuff += getRandomTemperator();\n        }\n    }\n}\n// var sendBuff = new Buffer(header);\n// console.log(sendBuff);\n// const buf = Buffer.allocUnsafe(4);\n// buf.writeFloatBE(0xcafebabe, 0);\n// console.log(buf)            \n// console.log(sendBuff + buf);\n\nmsg.payload = sendBuff;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1580,"wires":[["66b80888.5f35f8"]]},{"id":"66b80888.5f35f8","type":"tcp out","z":"f41712ff.dd9de","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Reply To L2 Server","x":1250,"y":1580,"wires":[]},{"id":"6e78ddd2.3951d4","type":"inject","z":"11c5be82.e35261","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["3ada8fc1.d9a63"]]},{"id":"74cdfd84.3e3724","type":"function","z":"11c5be82.e35261","name":"Set KR Data","func":"function getUID(makeSize,size){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<makeSize; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    \n    return checkLengthString(out, size);\n}\n\nfunction getRandomShort(size) {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getRandomInt(multiple,size) {\n    var value = Math.round(Math.random() * multiple);\n    return checkLengthString(value, size);\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"/\" + checkZeroTime(nowTime.getMonth()+1) + \"/\" + checkZeroTime(nowTime.getDate())  + \" \" + checkZeroTime(nowTime.getHours()) + \":\" + checkZeroTime(nowTime.getMinutes()) + \":\" + checkZeroTime(nowTime.getSeconds()) + \".\" + checkZeroTimeMillisec(nowTime.getMilliseconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\"\n    var formatData = context.global.SendDataFormat.filter(function(obj){ return obj.tc === msg.sendmsg })[0];\n    console.log(formatData);\n    for (var i=0; i< formatData.title.length; i++) {\n        if (formatData.title[i] === 'TcNo') {\n            returnStr += msg.sendmsg;\n            continue;\n        } else {\n            if (formatData.type[i] === \"char\") {\n                returnStr += getUID(8,formatData.len[i]);    \n            } else if (formatData.type[i] === \"int\") {\n                returnStr += getRandomInt(100000, formatData.len[i]);\n            } else if (formatData.type[i] === \"short\") {\n                returnStr += getRandomShort(formatData.len[i]);\n            } else if (formatData.type[i] === \"datetime\"){\n                returnStr += nowDateFormat();    \n            }\n            continue;\n        }\n    }\n    if (value === true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\nmsg.payload = createDataRefine(false);\n\nconsole.log(msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[[]]},{"id":"c85dec7e.28c0f","type":"tcp out","z":"11c5be82.e35261","host":"localhost","port":"52004","beserver":"client","base64":false,"end":false,"name":"","x":1010,"y":440,"wires":[]},{"id":"703e4dbb.e05114","type":"debug","z":"11c5be82.e35261","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":560,"wires":[]},{"id":"8e7a8be8.4fb0b8","type":"comment","z":"11c5be82.e35261","name":"KR Send AI Server ","info":"","x":150,"y":380,"wires":[]},{"id":"3ada8fc1.d9a63","type":"function","z":"11c5be82.e35261","name":"Send Message 3181","func":"msg.sendmsg = 3181\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["74cdfd84.3e3724"]]},{"id":"78cda3d.c96aa5c","type":"inject","z":"11c5be82.e35261","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["d69b8217.cb87"]]},{"id":"d69b8217.cb87","type":"function","z":"11c5be82.e35261","name":"Send Message 3182","func":"msg.sendmsg = 3182\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["74cdfd84.3e3724"]]},{"id":"77581f8e.166","type":"inject","z":"11c5be82.e35261","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["4719a88a.2532a8"]]},{"id":"4719a88a.2532a8","type":"function","z":"11c5be82.e35261","name":"Send Message 3183","func":"msg.sendmsg = 3183\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":560,"wires":[["74cdfd84.3e3724"]]},{"id":"9841788c.405018","type":"function","z":"11c5be82.e35261","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\nvar sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_msg = msg.sendmsg;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nvar strData = msg.payload.toString('utf-8');\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-simulator-${YYYYMMDD}`,\n    fields:{\n        Data:strData\n    },\n    tags: {\n        TcNo:msg.tag,\n        IP:sender_ip\n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":500,"wires":[["949f2cc8.174f"]]},{"id":"949f2cc8.174f","type":"influxdb batch","z":"11c5be82.e35261","influxdb":"85a94193.17dfb","precision":"ms","retentionPolicy":"","name":"","x":1230,"y":500,"wires":[]},{"id":"b383f094.24554","type":"tcp out","z":"f41712ff.dd9de","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Reply To L2 Server","x":990,"y":1060,"wires":[]},{"id":"9dd71cc4.eeaa3","type":"function","z":"f41712ff.dd9de","name":"Make Data to L2 Server","func":"var dataType = msg.sendType;\nvar data = msg.value;\nvar dataFormat;\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n    var parseData = parseFloat(resultData);\n    var buff = new Buffer(4);\n    \n    return buff.writeFloatBE(parseData);\n}\n\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate()) + checkZeroTime(nowTime.getHours()) + checkZeroTime(nowTime.getMinutes()) + checkZeroTime(nowTime.getSeconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction initDataFormat(value) {\n    console.log(value);\n    switch(value) {\n        case \"3020\":\n            dataFormat = context.global.S_MSG_3020;\n            console.log(dataFormat);\n            return true;\n        case \"3021\":\n            dataFormat = context.global.S_MSG_3021;\n            return true;\n        case \"3022\":\n            dataFormat = context.global.S_MSG_3022;\n            return true;\n        case \"3023\":\n            dataFormat = context.global.S_MSG_3023;\n            return true;\n        default:\n            return false;\n    }\n}\n\nif(initDataFormat(dataType)) {\n    var sendBuff = new Buffer(dataFormat.Length);\n    sendBuff.fill(0);\n    var sumTotal = 0;\n    for (var count=0;count < dataFormat.title.length;count++) {\n        var title = dataFormat.title[count];\n\n        if (dataFormat.type[count] === \"char\") {\n            if (title === \"Process\" || title === \"TC_CODE\") {\n                if (count === 0) {\n                    console.log(\"sumTotal : \" + 0 + \" END : \" + dataFormat.len[count]);\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], 0, dataFormat.len[count]);    \n                } else {\n                    console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], sumTotal, ((sumTotal) + dataFormat.len[count]));\n                }\n            } else if (title === \"Time\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                var date = nowDateFormat();\n                console.log(date);\n                sendBuff.write(date, sumTotal, (sumTotal) + dataFormat.len[count]);\n            } else if (title === \"Length\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(dataFormat.Length + \"   \");\n                sendBuff.write(dataFormat.Length + \"   \", sumTotal, ((sumTotal) + dataFormat.len[count]));\n            } else if (title === \"Spare\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(\"             \");\n                sendBuff.write(\"             \", sumTotal, (sumTotal) + dataFormat.len[count]);\n            }\n            sumTotal += (dataFormat.len[count]);\n        } else if (dataFormat.type[count] === \"float\") {\n            console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) - dataFormat.len[count]));\n            // sendBuff.writeFloatLE(15.357, sumTotal);\n            sendBuff.writeFloatLE(parseFloat(\"15.357\"), sumTotal);\n            console.log(sendBuff);\n            // sendBuff += getRandomTemperator();\n        }\n    }\n}\n// var sendBuff = new Buffer(header);\n// console.log(sendBuff);\n// const buf = Buffer.allocUnsafe(4);\n// buf.writeFloatBE(0xcafebabe, 0);\n// console.log(buf)            \n// console.log(sendBuff + buf);\n\nmsg.payload = sendBuff;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1060,"wires":[["b383f094.24554"]]},{"id":"36178265.48bc8e","type":"function","z":"f41712ff.dd9de","name":"T/C Code 3021","func":"msg.sendType = \"3021\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1000,"wires":[["9dd71cc4.eeaa3"]]},{"id":"d268d267.41f9","type":"function","z":"f41712ff.dd9de","name":"T/C Code 3022","func":"msg.sendType = \"3022\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["9dd71cc4.eeaa3"]]},{"id":"66d3e399.12cb5c","type":"function","z":"f41712ff.dd9de","name":"T/C Code 3023","func":"msg.sendType = \"3023\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1120,"wires":[["9dd71cc4.eeaa3"]]},{"id":"e43746a1.3c7518","type":"function","z":"f41712ff.dd9de","name":"T/C Code 3020","func":"msg.sendType = \"3020\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":940,"wires":[["9dd71cc4.eeaa3"]]},{"id":"387dbf76.c5212","type":"inject","z":"f41712ff.dd9de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1000,"wires":[["36178265.48bc8e"]]},{"id":"24467139.983b7e","type":"inject","z":"f41712ff.dd9de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1060,"wires":[["d268d267.41f9"]]},{"id":"7d8d08a0.9d5988","type":"inject","z":"f41712ff.dd9de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1120,"wires":[["66d3e399.12cb5c"]]},{"id":"5b6b3608.99fff8","type":"inject","z":"f41712ff.dd9de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":940,"wires":[["e43746a1.3c7518"]]},{"id":"f2933a3a.2a6b98","type":"comment","z":"f41712ff.dd9de","name":"L2 Receive Data","info":"","x":140,"y":900,"wires":[]},{"id":"3fa8b6f.f4c104a","type":"function","z":"f41712ff.dd9de","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\nvar inputData = msg.payload;\n\nmsg.payload = [{\n    measurement:`posco-post-recv-${YYYYMMDD}`,\n    fields:{\n        Data:JSON.stringify(inputData)\n    },\n    tags: {\n        Camera:inputData.id        \n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["d789a39c.6383d"]]},{"id":"d789a39c.6383d","type":"influxdb batch","z":"f41712ff.dd9de","influxdb":"5b59d685.7c0388","precision":"ms","retentionPolicy":"","name":"","x":790,"y":220,"wires":[]}]