.posco-kr-flow.json.backup
[{"id":"54fead13.e0d974","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"4f7764ea.63c6ac","type":"tab","label":"Data Input","disabled":false,"info":""},{"id":"5da28674.4ddd28","type":"MySQLdatabase","z":"4f7764ea.63c6ac","host":"localhost","port":"3306","db":"posco","tz":""},{"id":"600bf085.3a696","type":"http in","z":"4f7764ea.63c6ac","name":"ladle","url":"/thingspin/api/ladle","method":"post","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["d674dc2d.f8c4"]]},{"id":"d674dc2d.f8c4","type":"json","z":"4f7764ea.63c6ac","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":400,"wires":[["84b84024.303d1","3b34c42f.9cce0c"]]},{"id":"84b84024.303d1","type":"function","z":"4f7764ea.63c6ac","name":"SQL","func":"var sql = \"INSERT INTO t_ladle_capture (uuid, t0, t1, t2, t3) values \";\n\nvar p = msg.payload;\n\nvar r = {\n    uuid: msg._msgid,\n    t0: p.t0,\n    t1: p.t1,\n    t2: p.t2,\n    t3: p.t3\n};\n\nvar values = \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  r.t0 + \",\"\nvalues +=  r.t1 + \",\"\nvalues +=  r.t2 + \",\"\nvalues +=  r.t3\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\ndelete msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["f2020d1f.3f104","be041b92.7e7be8"]]},{"id":"4e58d8c2.67f398","type":"http response","z":"4f7764ea.63c6ac","name":"","statusCode":"","headers":{},"x":1010,"y":400,"wires":[]},{"id":"f899a855.02d968","type":"http in","z":"4f7764ea.63c6ac","name":"KR","url":"/thingspin/api/kr","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["2722927f.e2ee4e"]]},{"id":"dda13ba7.7b1168","type":"http response","z":"4f7764ea.63c6ac","name":"","statusCode":"","headers":{},"x":1010,"y":100,"wires":[]},{"id":"2722927f.e2ee4e","type":"json","z":"4f7764ea.63c6ac","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":140,"wires":[["594f6c67.2aceb4"]]},{"id":"594f6c67.2aceb4","type":"function","z":"4f7764ea.63c6ac","name":"construct","func":"var p = msg.payload;\nvar metric = {};\n\nvar path = flow.get(\"basePath\");\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path,\n    image: p.image,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n","outputs":2,"noerr":0,"x":580,"y":140,"wires":[["fc1ce091.52f52"],["e9bd6977.9387a8"]]},{"id":"e9bd6977.9387a8","type":"function","z":"4f7764ea.63c6ac","name":"img","func":"var b = global.get(\"base64-to-image\");\n\nvar filePrefix = flow.get(\"filePrefix\");\n\nvar image = msg.image;\nvar path = msg.path;\n\n\npath\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\nvar option = {\n    fileName: fileName,\n    type: 'jpg'\n};\n\nvar imageInfo = b(image, path, option);\n\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["62c8834a.58fd7c"]]},{"id":"62c8834a.58fd7c","type":"function","z":"4f7764ea.63c6ac","name":"SQL","func":"var sql = \"INSERT INTO t_kr_capture (sno, uuid, distance, fileName, absPath) values \";\n\nvar r = {\n    sno: msg.metric.id,\n    uuid: msg._msgid,\n    distance: msg.metric.distance,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n};\n\nvar values = \"\\\"\" + r.sno + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  r.distance + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\"\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":220,"wires":[["ab341073.13f61","2d5ae49f.5c713c"]]},{"id":"2d5ae49f.5c713c","type":"debug","z":"4f7764ea.63c6ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":300,"wires":[]},{"id":"ba25efe0.a5a9b","type":"debug","z":"4f7764ea.63c6ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1440,"y":220,"wires":[]},{"id":"f2020d1f.3f104","type":"function","z":"4f7764ea.63c6ac","name":"response-ladle","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    val0: 100.0,\n    val1: 100.0,\n    val2: 100.0,\n    val3: 100.0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["4e58d8c2.67f398"]]},{"id":"3b34c42f.9cce0c","type":"debug","z":"4f7764ea.63c6ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":640,"y":600,"wires":[]},{"id":"fc1ce091.52f52","type":"function","z":"4f7764ea.63c6ac","name":"response-kr","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    val0: 100.0,\n    val1: 100.0,\n    val2: 100.0,\n    val3: 100.0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["dda13ba7.7b1168"]]},{"id":"ab341073.13f61","type":"mysql","z":"4f7764ea.63c6ac","mydb":"5da28674.4ddd28","name":"posco-ai","x":1220,"y":220,"wires":[["ba25efe0.a5a9b"]]},{"id":"be041b92.7e7be8","type":"mysql","z":"4f7764ea.63c6ac","mydb":"5da28674.4ddd28","name":"posco-ai","x":840,"y":480,"wires":[[]]},{"id":"967e0054.67288","type":"config","z":"4f7764ea.63c6ac","name":"Config","properties":[{"p":"basePath","pt":"flow","to":"/var/lib/thingspin/assets/images/","tot":"str"},{"p":"filePrefix","pt":"flow","to":"KR","tot":"str"}],"active":true,"x":130,"y":60,"wires":[]}]