.posco-kr-flow.json.backup
[{"id":"54fead13.e0d974","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"45bbb462.28904c","type":"tab","label":"Simulator-Server","disabled":false,"info":""},{"id":"4f7764ea.63c6ac","type":"tab","label":"Data Input","disabled":false,"info":""},{"id":"5da28674.4ddd28","type":"MySQLdatabase","z":"4f7764ea.63c6ac","host":"219.251.4.236","port":"3306","db":"posco","tz":""},{"id":"13c246c5.a075b9","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f47b670b.1ec9f8","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"ce6c8e7.721fa7","type":"influxdb","z":"45bbb462.28904c","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"f899a855.02d968","type":"http in","z":"4f7764ea.63c6ac","name":"KR","url":"/thingspin/api/kr","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["2722927f.e2ee4e"]]},{"id":"dda13ba7.7b1168","type":"http response","z":"4f7764ea.63c6ac","name":"","statusCode":"","headers":{},"x":1010,"y":100,"wires":[]},{"id":"2722927f.e2ee4e","type":"json","z":"4f7764ea.63c6ac","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":140,"wires":[["594f6c67.2aceb4"]]},{"id":"594f6c67.2aceb4","type":"function","z":"4f7764ea.63c6ac","name":"construct","func":"var p = msg.payload;\nvar metric = {};\n\nvar path = flow.get(\"basePath\");\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path,\n    image: p.image,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n","outputs":2,"noerr":0,"x":580,"y":140,"wires":[["fc1ce091.52f52"],["e9bd6977.9387a8"]]},{"id":"e9bd6977.9387a8","type":"function","z":"4f7764ea.63c6ac","name":"img","func":"var b = global.get(\"base64-to-image\");\n\nvar filePrefix = flow.get(\"filePrefix\");\n\nvar image = msg.image;\nvar path = msg.path;\n\n\npath\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\nvar option = {\n    fileName: fileName,\n    type: 'jpg'\n};\n\nvar imageInfo = b(image, path, option);\n\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["62c8834a.58fd7c"]]},{"id":"62c8834a.58fd7c","type":"function","z":"4f7764ea.63c6ac","name":"SQL","func":"var sql = \"INSERT INTO t_kr_capture (sno, uuid, distance, fileName, absPath) values \";\n\nvar r = {\n    sno: msg.metric.id,\n    uuid: msg._msgid,\n    distance: msg.metric.distance,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n};\n\nvar values = \"\\\"\" + r.sno + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  r.distance + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\"\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":220,"wires":[["ab341073.13f61","2d5ae49f.5c713c"]]},{"id":"2d5ae49f.5c713c","type":"debug","z":"4f7764ea.63c6ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":300,"wires":[]},{"id":"ba25efe0.a5a9b","type":"debug","z":"4f7764ea.63c6ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1440,"y":220,"wires":[]},{"id":"fc1ce091.52f52","type":"function","z":"4f7764ea.63c6ac","name":"response-kr","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    val0: 100.0,\n    val1: 100.0,\n    val2: 100.0,\n    val3: 100.0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["dda13ba7.7b1168"]]},{"id":"ab341073.13f61","type":"mysql","z":"4f7764ea.63c6ac","mydb":"5da28674.4ddd28","name":"posco-ai","x":1220,"y":220,"wires":[["ba25efe0.a5a9b"]]},{"id":"967e0054.67288","type":"config","z":"4f7764ea.63c6ac","name":"Config","properties":[{"p":"basePath","pt":"flow","to":"/var/lib/thingspin/assets/images/","tot":"str"},{"p":"filePrefix","pt":"flow","to":"KR","tot":"str"}],"active":true,"x":130,"y":60,"wires":[]},{"id":"d7781cff.1214","type":"mqtt out","z":"54fead13.e0d974","name":"","topic":"/thingspin/edge-ai/KR","qos":"","retain":"","broker":"13c246c5.a075b9","x":840,"y":300,"wires":[]},{"id":"8e61f791.ef37e8","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["38e60f8a.79569"]]},{"id":"921c9052.b05eb","type":"comment","z":"54fead13.e0d974","name":"ThingSPIN 알고리즘 등록시 Publish","info":"","x":210,"y":260,"wires":[]},{"id":"38e60f8a.79569","type":"function","z":"54fead13.e0d974","name":"Make Algorithm","func":"var randomValue = Math.round(Math.random() *10000);\n\nvar algorithmData = {\n    Cid : \"cidvalue-test-\" + new Date(),\n    Cname : \"test-script-\" + randomValue,\n    Model : \"TensorFlow\",\n    Framework : \"Framework\",\n    InputInfo : \"InputInfo\",\n    OutputInfo : \"OutputInfo\",\n    ModelFiles : [\n        \"/var/thingspin/plugin/ml/file/mfile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/mfile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/mfile3-\" + randomValue\n    ],\n    AlgorithmFiles : [\n        \"/var/thingspin/plugin/ml/file/afile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/afile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/afile3-\" + randomValue\n    ],\n    AlogorithmType : \"al-type-\" + randomValue,\n    AlogorithmName : \"al-name-\" + randomValue,\n    UploadModel : [\n        \"/var/thingspin/plugin/ml/file/upmfile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upmfile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upmfile3-\" + randomValue\n    ],\n    UploadAlogorithm : [\n        \"/var/thingspin/plugin/ml/file/upafile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upafile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upafile3-\" + randomValue\n    ]    \n};\n\nmsg.payload = algorithmData;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["e8d0e083.8df3b"]]},{"id":"e8d0e083.8df3b","type":"json","z":"54fead13.e0d974","name":"","property":"payload","action":"","pretty":false,"x":610,"y":300,"wires":[["d7781cff.1214","da315df0.d6723"]]},{"id":"d5471fca.7c1bd","type":"comment","z":"54fead13.e0d974","name":"L2 Data Sender","info":"","x":160,"y":420,"wires":[]},{"id":"88e86d3e.b4f2e","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["463baae1.6d4e44"]]},{"id":"463baae1.6d4e44","type":"function","z":"54fead13.e0d974","name":"Make Algorithm","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n       console.log(out);\n    }\n    console.log(getUID.uids[out]);\n    // ensure that the uid is unique for this page\n    return getUID.uids[out] ? getUID(len) : (getUID.uids[out] = out);\n}\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *10000);\n    var topValue = Math.round(Math.random() *100);\n    return topValue + \".\" + bottomValue;\n}\n\n\nvar postLadleData = {\n    time : new Date(),\n    uuid : getUID(14),\n    t0 : getRandomTemperator(),\n    t1 : getRandomTemperator(),\n    t2 : getRandomTemperator(),\n    t3 : getRandomTemperator()\n};\n\nmsg.payload = postLadleData;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["8da337fb.225698"]]},{"id":"da315df0.d6723","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":360,"wires":[]},{"id":"8da337fb.225698","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":460,"wires":[]},{"id":"ad7ad9cb.57fe68","type":"tcp out","z":"54fead13.e0d974","host":"localhost","port":"30000","beserver":"client","base64":false,"end":false,"name":"","x":650,"y":580,"wires":[]},{"id":"8f4f6ada.b3ab48","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[["3b78d9b.50aa026"]]},{"id":"be3c71c1.d3fd1","type":"function","z":"54fead13.e0d974","name":"Make-Data-Set Ver 0.5","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(size) {\n    var bottomValue = Math.round(Math.random() *10000);\n    var topValue = Math.round(Math.random() *1000);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getBooleanData() {\n    return Math.round((Math.random() * 1) + 0) === 0;\n}\n\nfunction makeData(lastClose) {\n    var size = context.global.SlabFormat.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(context.global.SlabFormat.type[i]) {\n            case 'c' :\n                if (i == 0)\n                    output += \"slab\"\n                else\n                    output += getUID(context.global.SlabFormat.len[i]);\n                break;\n            case 'f' :\n                output += getRandomTemperator(context.global.SlabFormat.len[i]);\n                break;\n            case 'b' :\n                output += getBooleanData();\n                break;\n            case 'i' :\n                output += getRandomTemperator(context.global.SlabFormat.len[i]);\n                break;\n        }\n    }\n    if (lastClose === true)\n        output += \"\\n\";\n    console.log(output);\n    console.log(output.length);\n    return output;\n}\n\nmsg.payload = makeData(false);\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["ad7ad9cb.57fe68"]]},{"id":"7977fa6b.45cea4","type":"config","z":"54fead13.e0d974","name":"Global Init Data","properties":[{"p":"LogFormat","pt":"global","to":"{\"send\":\"t_data_send_log\",\"send_IP\":\"192.168.0.100\",\"send_Port\":30010,\"recv\":\"t_data_receive_log\",\"column\":[\"ip\",\"port\",\"dataLength\",\"dataDetail\"]}","tot":"json"},{"p":"SendDataFormat","pt":"global","to":"{\"title\":[\"pltNo\",\"cheCa\",\"cheNb\",\"cheV\",\"cheTi\"],\"reName\":[\"PLT_NO\",\"CA\",\"NB\",\"V\",\"TI\"],\"len\":[14,10,10,10,10]}","tot":"json"},{"p":"RollFormat","pt":"global","to":"{\"db\":\"t_rolling_detail\",\"length\":105,\"title\":[\"Time\",\"TcNo\",\"pltNo\",\"slabAngle\",\"rollPos_01\",\"rollPos_02\",\"rollPos_03\",\"rollPos_04\",\"rollPos_05\",\"rollPos_06\",\"rollPos_07\",\"rollPos_08\",\"rollPos_09\",\"rollPos_10\",\"rollPos_11\",\"rollPos_12\",\"rollPosAvg_01\",\"rollPosAvg_02\",\"rollPosAvg_03\",\"rollPosAvg_04\",\"rollPosAvg_05\",\"rollPosAvg_06\",\"rollPosAvg_07\",\"rollPosAvg_08\",\"rollPosAvg_09\",\"rollPosAvg_10\",\"rollPosAvg_11\",\"rollPosAvg_12\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[14,4,10,5,1,1,1,1,1,1,1,1,1,1,1,1,5,5,5,5,5,5,5,5,5,5,5,5]}","tot":"json"},{"p":"SlabFormat","pt":"global","to":"{\"db\":\"t_slab_detail\",\"length\":163,\"title\":[\"TcNo\",\"pltNo\",\"stClsFlag\",\"slabThick\",\"slabWidth\",\"slabLength\",\"slabWeight\",\"rollSchema\",\"cheCa\",\"cheNb\",\"cheV\",\"cheTi\",\"cheMo\",\"cheSi\",\"cheNi\",\"cheCr\",\"cheS\",\"cheP\",\"cheMn\",\"cheC\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"f\",\"f\",\"f\",\"i\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[4,10,2,6,5,5,10,1,10,10,10,10,10,10,10,10,10,10,10,10]}","tot":"json"},{"p":"FormatData","pt":"global","to":"[{\"TcNo\":\"slab\",\"TcNoPosition\":[0,4],\"DataLength\":163},{\"TcNo\":\"roll\",\"TcNoPosition\":[14,18],\"DataLength\":105}]","tot":"json"}],"active":true,"x":180,"y":80,"wires":[]},{"id":"63f1d54b.2671cc","type":"tcp request","z":"54fead13.e0d974","server":"localhost","port":"30000","out":"char","splitc":"\\n","name":"","x":650,"y":660,"wires":[["22344210.98d65e"]]},{"id":"22344210.98d65e","type":"debug","z":"54fead13.e0d974","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":660,"wires":[]},{"id":"7ba17f15.3f4cf","type":"comment","z":"54fead13.e0d974","name":"[ 관리자 내부 변수 초기화 ]","info":"","x":180,"y":40,"wires":[]},{"id":"5bb56a0e.fd6364","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["e534ec1a.8dc15","22095cf9.2ec7a4"]]},{"id":"e534ec1a.8dc15","type":"function","z":"54fead13.e0d974","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\ncontext.global.todaydate = date.yyyymmdd();\n// context.global.set(\"YYYYMMDD\", \"20180101\");\n\nreturn;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[[]]},{"id":"22095cf9.2ec7a4","type":"function","z":"54fead13.e0d974","name":"Init Format Map","func":"if (context.global.FormatObjMap === undefined || context.global.FormatObjMap === null)\n    context.global.FormatObjMap = new Map();\n\nvar size = context.global.FormatData.length;\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    if (format.TcNo === \"slab\")\n        context.global.FormatObjMap.set(format.TcNo, context.global.SlabFormat);\n    else if (format.TcNo === \"roll\")\n        context.global.FormatObjMap.set(format.TcNo, context.global.RollFormat);\n}\n\nreturn;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[[]]},{"id":"3b78d9b.50aa026","type":"function","z":"54fead13.e0d974","name":"Make-Data-Set Ver 1.0","func":"//Function Area -----------------------------------------------------------------------------------------\nDate.prototype.yyyymmdd = function() {\n    function pad2(n) {  // always returns a string\n        return (n < 10 ? '0' : '') + n;\n    }\n\n    return this.getFullYear() +\n        pad2(this.getMonth() + 1) + \n        pad2(this.getDate()) +\n        pad2(this.getHours()) +\n        pad2(this.getMinutes()) +\n        pad2(this.getSeconds());\n};\n\nfunction getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(size) {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getBooleanData(value) {\n    if (value) {\n        return Math.round((Math.random() * 1) + 0) === 0;    \n    } else {\n        var resultStr = Math.round((Math.random() * 1) + 0) === 0;\n        if (resultStr == true)\n            return 1;\n        else\n            return 0;\n    }\n}\n\nfunction makeData(msgType, format, lastClose) {\n    var size = format.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(format.type[i]) {\n            case 'c' :\n                if (msgType === \"slab\") {\n                    if (i == 0)\n                        output += msgType;\n                    else\n                        output += getUID(format.len[i]);\n                } else if (msgType === \"roll\") {\n                    if (i == 1)\n                        output += msgType;\n                    else if (i == 0) {\n                        var date = new Date();\n                        output += date.yyyymmdd();\n                    } else\n                        output += getUID(format.len[i]);\n                }\n                break;\n            case 'f' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n            case 'b' :\n                output += getBooleanData(false);\n                break;\n            case 'i' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n        }\n    }\n    if (lastClose === true)\n        output += \"\\n\";\n    console.log(output);\n    console.log(output.length);\n    return output;\n}\n//Main Area ---------------------------------------------------------------------------------------------\nvar size = context.global.FormatData.length;\nvar formatArray = [];\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    formatArray.push(format.TcNo);\n}\nvar randomValue = Math.floor(Math.random()*(formatArray.length));\nmsg.payload = makeData(formatArray[randomValue], context.global.FormatObjMap.get(formatArray[randomValue]), false);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":660,"wires":[["63f1d54b.2671cc"]]},{"id":"3a22ddcc.674e32","type":"tcp in","z":"45bbb462.28904c","name":"","server":"server","host":"","port":"30000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":120,"y":220,"wires":[["3d73f79.6c8d608","b667cdfb.7c8af","6525d977.8be0b8"]]},{"id":"3d73f79.6c8d608","type":"function","z":"45bbb462.28904c","name":"Data Process","func":"//Function Area -----------------------------------------------------------------------------------------\ncontext.global.dataType = new Map();\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    // var dataMap = new Map();\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i == 0) {\n            sumTotal += (format.len[i])\n            context.global.dataMap.set(format.title[i], str.slice(i, sumTotal))\n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            context.global.dataMap.set(format.title[i], str.slice(sumTotal, sumTotal + format.len[i]));\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n        }\n    }\n    // console.log(dataMap);\n}\n\nfunction confirmMsg(strData) {\n    var size = context.global.FormatData.length;\n    for (var i=0; i<size; i++) {\n        var format = context.global.FormatData[i];\n        if (strData.length === format.DataLength) {\n            var sliceStr = strData.slice(format.TcNoPosition[0], format.TcNoPosition[1]);\n            if (sliceStr === format.TcNo) {\n                var defineData = context.global.FormatObjMap.get(format.TcNo);\n                translateData(strData, defineData);\n            } else {\n                node.log(\"TcNo : \" + sliceStr + \" Length : \" + strData.length);\n            }\n            \n        } else {\n            continue;\n        }\n    }\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar strData = msg.payload.toString('utf-8');\nconfirmMsg(strData);\n\n\n\n// var mapData = translateData(msg.payload, context.global.SlabFormat);\n// console.log(context.global.dataType);\n//JSON으로 변환시 이용\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'c') {\n        // console.log(value);\n        object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TcNo')\n            msg.tag = value;\n        else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\nmsg.payload = context.global.dataMap;\n\ncontext.global.dataType = null;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["cf0081d0.9fa59","a413a06d.2011b","47692364.1a551c"]]},{"id":"cf0081d0.9fa59","type":"function","z":"45bbb462.28904c","name":"Create insert mariadb query ","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(\";\n    var values = \"(\";\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \",\";\n            else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    return result;\n}\n//Main Area -----------------------------------------------------------------------------------------\n// console.log(msg.payload);\nvar dataMap = msg.payload;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\nvar queryInputData = makeColumnString(dataFormat, dataMap);\nvar queryStr = \"insert into \" + dataFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n// console.log(queryStr);\n\nmsg.topic = queryStr;\n//console.log(msg);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["83733353.67be3"]]},{"id":"83733353.67be3","type":"mysql","z":"45bbb462.28904c","mydb":"f47b670b.1ec9f8","name":"","x":890,"y":360,"wires":[[]]},{"id":"b667cdfb.7c8af","type":"function","z":"45bbb462.28904c","name":"Response MSG Create","func":"msg.payload = \"OK\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["7effe2a7.ae5b0c"]]},{"id":"7effe2a7.ae5b0c","type":"tcp out","z":"45bbb462.28904c","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Response","x":600,"y":80,"wires":[]},{"id":"a413a06d.2011b","type":"function","z":"45bbb462.28904c","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-slab-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TcNo:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["4c8a8744.5adb38"]]},{"id":"6525d977.8be0b8","type":"function","z":"45bbb462.28904c","name":"Create Log Data Query ","func":"var sender_ip = msg.ip.slice(7, msg.ip.length);\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\nvar queryStr = \"insert into \" + context.global.LogFormat.recv + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["5827c989.868d38"]]},{"id":"5827c989.868d38","type":"mysql","z":"45bbb462.28904c","mydb":"f47b670b.1ec9f8","name":"","x":590,"y":220,"wires":[[]]},{"id":"5a4946be.7f48d8","type":"comment","z":"45bbb462.28904c","name":"TCP Response Process","info":"","x":380,"y":40,"wires":[]},{"id":"33e21997.7ef976","type":"comment","z":"45bbb462.28904c","name":"Data Slice and Insert to DB","info":"","x":390,"y":320,"wires":[]},{"id":"43c3e035.9b882","type":"comment","z":"45bbb462.28904c","name":"Input Infomation Insert to DB","info":"","x":400,"y":180,"wires":[]},{"id":"47692364.1a551c","type":"function","z":"45bbb462.28904c","name":"Data Refine Process","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n        returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n    }\n    if (value == true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nif(msg.tag === \"slab\") {\n    msg.payload = createDataRefine(true);\n    return msg;\n} else {\n    msg.payload = null;\n    return ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["26eb3c44.7ead84","6ddf3669.534098"]]},{"id":"26eb3c44.7ead84","type":"tcp out","z":"45bbb462.28904c","host":"localhost","port":"30010","beserver":"client","base64":false,"end":false,"name":"","x":930,"y":480,"wires":[]},{"id":"c4fb7dc7.ecd43","type":"tcp in","z":"45bbb462.28904c","name":"","server":"server","host":"","port":"30010","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":600,"wires":[["84671bcf.18a3e8"]]},{"id":"84671bcf.18a3e8","type":"debug","z":"45bbb462.28904c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":320,"y":600,"wires":[]},{"id":"6ddf3669.534098","type":"function","z":"45bbb462.28904c","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.send_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\n\nif (msg.payload !== null) {\n    var queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n    console.log(queryStr);\n    msg.topic = queryStr;\n\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":940,"y":540,"wires":[["272fad8a.ebaa32"]]},{"id":"272fad8a.ebaa32","type":"mysql","z":"45bbb462.28904c","mydb":"f47b670b.1ec9f8","name":"","x":1130,"y":540,"wires":[[]]},{"id":"4c8a8744.5adb38","type":"influxdb batch","z":"45bbb462.28904c","influxdb":"41347516.cd14fc","precision":"ms","retentionPolicy":"","name":"","x":930,"y":420,"wires":[]}]