posco-kr-flow.json
[{"id":"54fead13.e0d974","type":"tab","label":"Simulator","disabled":false,"info":"CREATE TABLE t_data_send_log\n(\n    `uuid`      VARCHAR(32)        NOT NULL    COMMENT 'uuid' PRIMARY KEY, \n    `time`        DATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          VARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`        INT              NOT NULL    COMMENT 'port',\n    `message`\t  VARCHAR(10)\t  NULL        COMMENT 'message',\n    `dataLength`  INT              NOT NULL    COMMENT 'dataLength', \n    `dataDetail`  VARCHAR(2000)    NOT NULL    COMMENT 'dataDetail'\n);"},{"id":"f41712ff.dd9de","type":"tab","label":"Data Receive (temp)","disabled":false,"info":"DROP TABLE t_ladle_capture;\nCREATE TABLE t_ladle_capture\n(\n\tIDX\t\tSMALLINT\t\t   NOT NULL\t   AUTO_INCREMENT PRIMARY KEY,\n    `time`   DATETIME       NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP,\n    `sender`\t INT\t\t\t   NOT NULL\t\tCOMMENT 'sender',\n    `uuid`   VARCHAR(32)    NOT NULL    COMMENT 'uuid'DEFAULT '0', \n    `temp`  float unsigned zerofill          NOT NULL    COMMENT 't0' DEFAULT '000000000000', \n    `fileName`  VARCHAR(64)       NULL        COMMENT 'fileName', \n    `absPath`   VARCHAR(512)      NULL        COMMENT 'absPath'\n);\nSELECT * FROM t_ladle_capture;\nDROP TABLE t_kr_capture;\nCREATE TABLE t_kr_capture\n(\n\tIDX\t\t\tSMALLINT\t\t   \t NOT NULL \t AUTO_INCREMENT PRIMARY KEY,\n    `time`      DATETIME          NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `sno`       VARCHAR(6)        NULL        COMMENT 'sno' DEFAULT 'CAM01', \n    `uuid`      VARCHAR(32)       NULL        COMMENT 'uuid', \n    `distance`  float unsigned    NULL        COMMENT 'distance', \n    `fileName`  VARCHAR(64)       NULL        COMMENT 'fileName', \n    `absPath`   VARCHAR(512)      NULL        COMMENT 'absPath'\n);\nSELECT * FROM t_kr_capture;\nDROP TABLE t_slab_detail;\nCREATE TABLE t_slab_detail\n(\n\tIDX\t\t\tSMALLINT\t\t   \t NOT NULL \t AUTO_INCREMENT PRIMARY KEY,\n    `time`        DATETIME                   NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `TcNo`        VARCHAR(4)                 NOT NULL        COMMENT 'TcNo', \n    `pltNo`       VARCHAR(10)                NOT NULL        COMMENT 'pltNo', \n    `stClsFlag`   VARCHAR(2)                 NOT NULL        COMMENT 'stClsFlag', \n    `slabThick`   float unsigned zerofill    NOT NULL        COMMENT 'slabThick', \n    `slabWidth`   float unsigned zerofill    NOT NULL        COMMENT 'slabWidth', \n    `slabLength`  float unsigned zerofill    NOT NULL        COMMENT 'slabLength', \n    `slabWeight`  float unsigned zerofill    NOT NULL        COMMENT 'slabWeight', \n    `rollSchema`  INT                        NOT NULL        COMMENT 'rollSchema', \n    `cheCa`       float unsigned zerofill    NULL    COMMENT 'cheCa', \n    `cheNb`       float unsigned zerofill    NULL    COMMENT 'cheNb', \n    `cheV`        float unsigned zerofill    NULL    COMMENT 'cheV', \n    `cheTi`       float unsigned zerofill    NULL    COMMENT 'cheTi', \n    `cheMo`       float unsigned zerofill    NULL    COMMENT 'cheMo', \n    `cheSi`       float unsigned zerofill    NULL    COMMENT 'cheSi', \n    `cheNi`       float unsigned zerofill    NULL    COMMENT 'cheNi', \n    `cheCr`       float unsigned zerofill    NULL    COMMENT 'cheCr', \n    `cheS`        float unsigned zerofill    NULL    COMMENT 'cheS', \n    `cheP`        float unsigned zerofill    NULL    COMMENT 'cheP', \n    `cheMn`       float unsigned zerofill    NULL    COMMENT 'cheMn', \n    `cheC`        float unsigned zerofill    NULL    COMMENT 'cheC'\n);\n\nCREATE TABLE t_rolling_detail\n(\n\tIDX\t\t\tSMALLINT\t\t   \t NOT NULL \t AUTO_INCREMENT PRIMARY KEY,\n    `time`           DATETIME       NOT NULL    COMMENT 'time', \n    `TcNo`           VARCHAR(4)     NOT NULL    COMMENT 'TcNo', \n    `pltNo`          VARCHAR(10)    NOT NULL    COMMENT 'pltNo', \n    `slabAngle`      FLOAT          NOT NULL    COMMENT 'slabAngle', \n    `rollPos_01`     TINYINT        NOT NULL    COMMENT 'rollPos_01', \n    `rollPos_02`     TINYINT        NOT NULL    COMMENT 'rollPos_02', \n    `rollPos_03`     TINYINT        NOT NULL    COMMENT 'rollPos_03', \n    `rollPos_04`     TINYINT        NOT NULL    COMMENT 'rollPos_04', \n    `rollPos_05`     TINYINT        NOT NULL    COMMENT 'rollPos_05', \n    `rollPos_06`     TINYINT        NOT NULL    COMMENT 'rollPos_06', \n    `rollPos_07`     TINYINT        NOT NULL    COMMENT 'rollPos_07', \n    `rollPos_08`     TINYINT        NOT NULL    COMMENT 'rollPos_08', \n    `rollPos_09`     TINYINT        NOT NULL    COMMENT 'rollPos_09', \n    `rollPos_10`     TINYINT        NOT NULL    COMMENT 'rollPos_10', \n    `rollPos_11`     TINYINT        NOT NULL    COMMENT 'rollPos_11', \n    `rollPos_12`     TINYINT        NOT NULL    COMMENT 'rollPos_12', \n    `rollPosAvg_01`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_01', \n    `rollPosAvg_02`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_02', \n    `rollPosAvg_03`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_03', \n    `rollPosAvg_04`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_04', \n    `rollPosAvg_05`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_05', \n    `rollPosAvg_06`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_06', \n    `rollPosAvg_07`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_07', \n    `rollPosAvg_08`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_08', \n    `rollPosAvg_09`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_09', \n    `rollPosAvg_10`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_10', \n    `rollPosAvg_11`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_11', \n    `rollPosAvg_12`  FLOAT          NOT NULL    COMMENT 'rollPosAvg_12'\n);\n\nselect * from t_slab_detail;\nDROP TABLE t_data_receive_log;\nCREATE TABLE t_data_receive_log\n(\n    `ID`\t\t\t\tINT UNSIGNED            NOT NULL    AUTO_INCREMENT COMMENT 'index', \n    `time`         \tDATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          \tVARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`         \tINT              NOT NULL    COMMENT 'port', \n    `dataLength`  \tINT              NOT NULL    COMMENT 'data_length', \n    `dataDetail` \tVARCHAR(1000)    NOT NULL    COMMENT 'data_detail', \n    PRIMARY KEY (ID)\n);\nselect * from t_data_receive_log;\n\nDROP TABLE t_data_send_log;\nCREATE TABLE t_data_send_log\n(\n    `ID`          INT UNSIGNED     NOT NULL    AUTO_INCREMENT COMMENT 'ID', \n    `time`        DATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          VARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`        INT              NOT NULL    COMMENT 'port', \n    `dataLength`  INT              NOT NULL    COMMENT 'dataLength', \n    `dataDetail`  VARCHAR(2000)    NOT NULL    COMMENT 'dataDetail', \n    PRIMARY KEY (ID)\n);\n\nSELECT COUNT(dataLength) from t_data_receive_log;\nSELECT COUNT(dataLength) from t_data_send_log;\nselect * from t_data_send_log;\nselect * from t_slab_detail order by time desc limit 1;"},{"id":"287e4748.53d488","type":"subflow","name":"Get Base64 Image ","info":"","in":[{"x":250,"y":160,"wires":[{"id":"97a253e9.c2e36"}]}],"out":[{"x":960,"y":160,"wires":[{"id":"2933a13a.4f8c0e","port":0}]}]},{"id":"ce9f4368.8c8a7","type":"subflow","name":"POST - [KR] Process","info":"","in":[{"x":80,"y":140,"wires":[{"id":"c6ade5c0.06e308"}]}],"out":[]},{"id":"13c246c5.a075b9","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f47b670b.1ec9f8","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"9b27889e.f66228","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"87897f49.bb314","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"8e948d9e.dcc8d","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"f223e410.d2ab08","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36e033f4.a4c05c","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"eaa6598a.67f1e8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"7087a64e.399e18","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84224ca5.bff58","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":""},{"id":"a28692d4.03579","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"536d87d3.cb0088","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85a94193.17dfb","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"93c6c3fb.1f2ab","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"ee78ea3.0bfb418","type":"mysql","z":"287e4748.53d488","mydb":"84224ca5.bff58","name":"","x":670,"y":160,"wires":[["2933a13a.4f8c0e"]]},{"id":"97a253e9.c2e36","type":"function","z":"287e4748.53d488","name":"count init & create sql","func":"console.log(msg);\nif (msg.type === \"KR\") {\n    if (context.global.krcount === NaN || context.global.krcount == 11) {\n        context.global.krcount = 1;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.krcount++;\n} else if (msg.type === \"LADLE\"){\n    if (context.global.ladlecount === NaN || context.global.ladlecount == 22) {\n        context.global.ladlecount = 11;\n    }\n    console.log(\"ladle : \" + context.global.ladlecount);\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.ladlecount++;\n}\nconsole.log(msg.topic);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["ee78ea3.0bfb418"]]},{"id":"2933a13a.4f8c0e","type":"json","z":"287e4748.53d488","name":"","property":"payload","action":"","pretty":false,"x":830,"y":160,"wires":[[]]},{"id":"497a31af.88192","type":"comment","z":"54fead13.e0d974","name":"L2 Data Sender","info":"","x":100,"y":480,"wires":[]},{"id":"1ab3a350.084bcd","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["2827308e.7ef5"]]},{"id":"cfc34e4f.93753","type":"config","z":"54fead13.e0d974","name":"Global Init Data","properties":[{"p":"LogFormat","pt":"global","to":"{\"send\":\"t_data_send_log\",\"image_Server_IP\":\"192.168.0.107\",\"send_Port\":52004,\"recv\":\"t_data_receive_log\",\"column\":[\"uuid\",\"ip\",\"port\",\"message\",\"dataLength\",\"dataDetail\"]}","tot":"json"},{"p":"SendDataFormat","pt":"global","to":"{\"title\":[\"TcNo\",\"pltNo\",\"L2_Stime\"],\"reName\":[\"TcNo\",\"pltNo\",\"L2_Stime\"],\"len\":[4,10,23]}","tot":"json"},{"p":"RollFormat","pt":"global","to":"{\"db\":\"t_rolling_detail\",\"length\":105,\"title\":[\"Time\",\"TcNo\",\"pltNo\",\"slabAngle\",\"rollPos_01\",\"rollPos_02\",\"rollPos_03\",\"rollPos_04\",\"rollPos_05\",\"rollPos_06\",\"rollPos_07\",\"rollPos_08\",\"rollPos_09\",\"rollPos_10\",\"rollPos_11\",\"rollPos_12\",\"rollPosAvg_01\",\"rollPosAvg_02\",\"rollPosAvg_03\",\"rollPosAvg_04\",\"rollPosAvg_05\",\"rollPosAvg_06\",\"rollPosAvg_07\",\"rollPosAvg_08\",\"rollPosAvg_09\",\"rollPosAvg_10\",\"rollPosAvg_11\",\"rollPosAvg_12\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[14,4,10,5,1,1,1,1,1,1,1,1,1,1,1,1,5,5,5,5,5,5,5,5,5,5,5,5]}","tot":"json"},{"p":"SlabFormat","pt":"global","to":"{\"db\":\"t_slab_detail\",\"length\":163,\"title\":[\"TcNo\",\"pltNo\",\"stClsFlag\",\"slabThick\",\"slabWidth\",\"slabLength\",\"slabWeight\",\"rollSchema\",\"cheCa\",\"cheNb\",\"cheV\",\"cheTi\",\"cheMo\",\"cheSi\",\"cheNi\",\"cheCr\",\"cheS\",\"cheP\",\"cheMn\",\"cheC\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"f\",\"f\",\"f\",\"i\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[4,10,2,6,5,5,10,1,10,10,10,10,10,10,10,10,10,10,10,10]}","tot":"json"},{"p":"FormatData","pt":"global","to":"[{\"TcNo\":\"slab\",\"TcNoPosition\":[0,4],\"DataLength\":163},{\"TcNo\":\"roll\",\"TcNoPosition\":[14,18],\"DataLength\":105}]","tot":"json"}],"active":true,"x":160,"y":100,"wires":[]},{"id":"58922238.153e1c","type":"comment","z":"54fead13.e0d974","name":"[ 관리자 내부 변수 초기화 ]","info":"","x":120,"y":60,"wires":[]},{"id":"62edc1f2.71d96","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["cfa275f2.795e28","932104f4.0fe178"]]},{"id":"cfa275f2.795e28","type":"function","z":"54fead13.e0d974","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\ncontext.global.todaydate = date.yyyymmdd();\n// context.global.set(\"YYYYMMDD\", \"20180101\");\n\nreturn;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[[]]},{"id":"2827308e.7ef5","type":"function","z":"54fead13.e0d974","name":"Make-Data-Set Ver 1.0","func":"//Function Area -----------------------------------------------------------------------------------------\nDate.prototype.yyyymmdd = function() {\n    function pad2(n) {  // always returns a string\n        return (n < 10 ? '0' : '') + n;\n    }\n\n    return this.getFullYear() +\n        pad2(this.getMonth() + 1) + \n        pad2(this.getDate()) +\n        pad2(this.getHours()) +\n        pad2(this.getMinutes()) +\n        pad2(this.getSeconds());\n};\n\nfunction getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(size) {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getBooleanData(value) {\n    if (value) {\n        return Math.round((Math.random() * 1) + 0) === 0;    \n    } else {\n        var resultStr = Math.round((Math.random() * 1) + 0) === 0;\n        if (resultStr == true)\n            return 1;\n        else\n            return 0;\n    }\n}\n\nfunction makeData(msgType, format, lastClose) {\n    var size = format.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(format.type[i]) {\n            case 'c' :\n                if (msgType === \"slab\") {\n                    if (i == 0)\n                        output += \"CP11\";\n                    else\n                        output += getUID(format.len[i]);\n                } else if (msgType === \"roll\") {\n                    if (i == 1)\n                        output += \"CP11\";\n                    else if (i == 0) {\n                        var date = new Date();\n                        output += date.yyyymmdd();\n                    } else\n                        output += getUID(format.len[i]);\n                }\n                break;\n            case 'f' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n            case 'b' :\n                output += getBooleanData(false);\n                break;\n            case 'i' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n        }\n    }\n    if (lastClose === true)\n        output += \"\\n\";\n    console.log(output);\n    console.log(output.length);\n    return output;\n}\n//Main Area ---------------------------------------------------------------------------------------------\nvar size = context.global.FormatData.length;\nvar formatArray = [];\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    formatArray.push(format.TcNo);\n}\nvar randomValue = Math.floor(Math.random()*(formatArray.length));\nmsg.payload = makeData(formatArray[randomValue], context.global.FormatObjMap.get(formatArray[randomValue]), false);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["9dea94b3.b63518"]]},{"id":"8318bcd3.34e85","type":"comment","z":"54fead13.e0d974","name":"DDS AI Server Sender","info":"","x":120,"y":280,"wires":[]},{"id":"d6560ef.5046ef","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["d2795d42.5c4ef"]]},{"id":"4a344b11.c984f4","type":"function","z":"54fead13.e0d974","name":"Make Data","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n    }\n    // ensure that the uid is unique for this page\n    return out;\n}\n\nfunction getSNO() {\n    return \"CAM01\";\n}\n\nfunction getRandom() {\n    var bottomValue = Math.round(Math.random() *1000);\n    var topValue = Math.round(Math.random() *1000);\n    return topValue + \".\" + bottomValue;\n}\nvar base64Image = JSON.parse(msg.payload);\nvar strImage = base64Image[0].value;\nvar postLadleData = {\n    id : getSNO(),\n    distance : parseFloat(getRandom()),\n    image : strImage\n};\n\nmsg.payload = postLadleData;\n\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["1d8c363e.ba98ea"]]},{"id":"1d8c363e.ba98ea","type":"http request","z":"54fead13.e0d974","name":"Post KR","method":"POST","ret":"obj","url":"http://localhost:1880/thingspin/api/kr","tls":"","x":880,"y":320,"wires":[["e7814e68.61b64"]]},{"id":"e7814e68.61b64","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":320,"wires":[]},{"id":"9dea94b3.b63518","type":"tcp request","z":"54fead13.e0d974","server":"localhost","port":"30000","out":"sit","splitc":" ","name":"","x":590,"y":520,"wires":[["3e408a78.336056"]]},{"id":"3e408a78.336056","type":"function","z":"54fead13.e0d974","name":"Response Data Convert","func":"var resultStrData = msg.payload.toString('utf-8');\nmsg.payload = resultStrData;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["80664747.617f48"]]},{"id":"80664747.617f48","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":520,"wires":[]},{"id":"e07965b.e084d98","type":"subflow:287e4748.53d488","z":"54fead13.e0d974","name":"","x":510,"y":320,"wires":[["4a344b11.c984f4"]]},{"id":"d2795d42.5c4ef","type":"function","z":"54fead13.e0d974","name":"Set Type","func":"msg.type = \"KR\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["e07965b.e084d98"]]},{"id":"932104f4.0fe178","type":"function","z":"54fead13.e0d974","name":"Init Format Map","func":"if (context.global.FormatObjMap === undefined || context.global.FormatObjMap === null)\n    context.global.FormatObjMap = new Map();\n\nvar size = context.global.FormatData.length;\nconsole.log(size);\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    if (format.TcNo === \"slab\")\n        context.global.FormatObjMap.set(format.TcNo, context.global.SlabFormat);\n    else if (format.TcNo === \"roll\")\n        context.global.FormatObjMap.set(format.TcNo, context.global.RollFormat);\n}\n\ncontext.global.krcount = 1;\ncontext.global.ladlecount = 11;\n\nconsole.log(context.global.FormatData);\nreturn;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[[]]},{"id":"35370d3a.e02142","type":"http response","z":"ce9f4368.8c8a7","name":"","statusCode":"","headers":{},"x":670,"y":120,"wires":[]},{"id":"c6ade5c0.06e308","type":"function","z":"ce9f4368.8c8a7","name":"construct","func":"var p = msg.payload;\nvar metric = {};\n\nvar path = context.global.basePath;\nconsole.log(path);\nvar date = context.global.todaydate;\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path + date + \"\\\\\\\\\",\n    image: p.image,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":240,"y":140,"wires":[["4d684cc6.229bb4"],["8175e422.44df18"]]},{"id":"8175e422.44df18","type":"function","z":"ce9f4368.8c8a7","name":"img","func":"var fs = global.get(\"mkdirp\");\n\nfs(msg.path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\n\nvar b = global.get(\"base64-to-image\");\n\nvar filePrefix = context.global.filePrefix;\n\nvar image = msg.image;\nvar path = msg.path;\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\nvar option = {\n    fileName: fileName,\n    type: 'jpg'\n};\n\nvar imageInfo = b(image, path, option);\n\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["6e6a4820.7512e8"]]},{"id":"ff3fe766.1e0c18","type":"mysql","z":"ce9f4368.8c8a7","mydb":"a28692d4.03579","name":"posco-ai","x":780,"y":160,"wires":[[]]},{"id":"6e6a4820.7512e8","type":"function","z":"ce9f4368.8c8a7","name":"SQL","func":"var sql = \"INSERT INTO t_kr_capture (sno, uuid, distance, fileName, absPath) values \";\n\nvar r = {\n    sno: msg.metric.id,\n    uuid: msg._msgid,\n    distance: msg.metric.distance,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n};\n\nvar values = \"\\\"\" + r.sno + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  r.distance + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\"\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["ff3fe766.1e0c18"]]},{"id":"4d684cc6.229bb4","type":"function","z":"ce9f4368.8c8a7","name":"response-kr","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    Result:\"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["35370d3a.e02142"]]},{"id":"3ebe2726.f59f58","type":"http in","z":"f41712ff.dd9de","name":"KR","url":"/thingspin/api/kr","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["aa8b846f.2ac8d8","be149cca.3d5ad"]]},{"id":"aa8b846f.2ac8d8","type":"json","z":"f41712ff.dd9de","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":160,"wires":[["f200b9d.2e9e048"]]},{"id":"c887e0bf.a6522","type":"config","z":"f41712ff.dd9de","name":"Config","properties":[{"p":"basePath","pt":"global","to":"D:\\\\thingspin\\\\server\\\\data\\\\thingspin\\\\images\\\\","tot":"str"},{"p":"filePrefix","pt":"global","to":"KR","tot":"str"},{"p":"fileLadlePrefix","pt":"global","to":"LADEL","tot":"str"}],"active":true,"x":90,"y":40,"wires":[]},{"id":"3a4db9c3.af6e76","type":"tcp in","z":"f41712ff.dd9de","name":"","server":"server","host":"","port":"30000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":160,"y":440,"wires":[["20fa3a9f.0366e6","8d6d2ece.31f5e"]]},{"id":"20fa3a9f.0366e6","type":"function","z":"f41712ff.dd9de","name":"Data Process","func":"//Function Area -----------------------------------------------------------------------------------------\ncontext.global.dataType = new Map();\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    // var dataMap = new Map();\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i == 0) {\n            sumTotal += (format.len[i])\n            context.global.dataMap.set(format.title[i], str.slice(i, sumTotal))\n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            context.global.dataMap.set(format.title[i], str.slice(sumTotal, sumTotal + format.len[i]));\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n        }\n    }\n    // console.log(context.global.dataMap);\n}\n\nfunction confirmMsg(strData) {\n    var size = context.global.FormatData.length;\n    for (var i=0; i<size; i++) {\n        var format = context.global.FormatData[i];\n        if (strData.length === format.DataLength) {\n            var sliceStr = strData.slice(format.TcNoPosition[0], format.TcNoPosition[1]);\n            if (sliceStr === format.TcNo) {\n                var defineData = context.global.FormatObjMap.get(format.TcNo);\n                translateData(strData, defineData);\n            } else {\n                node.log(\"TcNo : \" + sliceStr + \" Length : \" + strData.length);\n            }\n            \n        } else {\n            continue;\n        }\n    }\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar strData = msg.payload.toString('utf-8');\nconfirmMsg(strData);\n\n\n\n// var mapData = translateData(msg.payload, context.global.SlabFormat);\n// console.log(context.global.dataType);\n//JSON으로 변환시 이용\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'c') {\n        // console.log(value)ds;\n        object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TcNo')\n            msg.tag = value;\n        else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\ncontext.global.dataType = null;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["acef7045.c2923","ff33c5a3.ce4298"]]},{"id":"4ebde6c2.bbb228","type":"comment","z":"f41712ff.dd9de","name":"Data Slice and Insert to DB","info":"","x":410,"y":500,"wires":[]},{"id":"7092aab1.b6dd04","type":"comment","z":"f41712ff.dd9de","name":"Input Infomation Insert to DB","info":"","x":420,"y":400,"wires":[]},{"id":"af37812f.6f477","type":"comment","z":"f41712ff.dd9de","name":"HTTP KR POST Process","info":"","x":150,"y":120,"wires":[]},{"id":"be09d705.39f868","type":"comment","z":"f41712ff.dd9de","name":"TCP Server Process","info":"","x":130,"y":380,"wires":[]},{"id":"3c928099.7cf49","type":"mqtt in","z":"f41712ff.dd9de","name":"","topic":"#","qos":"2","broker":"536d87d3.cb0088","x":150,"y":740,"wires":[[]]},{"id":"edb89315.f64cb","type":"tcp in","z":"f41712ff.dd9de","name":"","server":"server","host":"","port":"30010","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":960,"wires":[["2970c10b.bb6dfe"]]},{"id":"2970c10b.bb6dfe","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":960,"wires":[]},{"id":"c28b4f15.c857e","type":"comment","z":"f41712ff.dd9de","name":"MQTT Process","info":"","x":120,"y":700,"wires":[]},{"id":"8746662a.23cd48","type":"comment","z":"f41712ff.dd9de","name":"TCP Server Example Process","info":"","x":160,"y":920,"wires":[]},{"id":"3368ca17.0f0966","type":"mqtt in","z":"f41712ff.dd9de","name":"","topic":"/test/result","qos":"2","broker":"536d87d3.cb0088","x":160,"y":800,"wires":[["cdd9da0f.904748"]]},{"id":"b7fd8072.718a2","type":"tcp out","z":"f41712ff.dd9de","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Response","x":560,"y":800,"wires":[]},{"id":"cdd9da0f.904748","type":"delay","z":"f41712ff.dd9de","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":800,"wires":[["b7fd8072.718a2","69c32ed6.1560d"]]},{"id":"8d6d2ece.31f5e","type":"function","z":"f41712ff.dd9de","name":"Set Msg Type","func":"msg.type = \"recv\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["77e1cc71.24d794"]]},{"id":"f200b9d.2e9e048","type":"subflow:ce9f4368.8c8a7","z":"f41712ff.dd9de","name":"","x":630,"y":160,"wires":[]},{"id":"69c32ed6.1560d","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":860,"wires":[]},{"id":"4f874f5b.a9cb6","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":1000,"wires":[]},{"id":"54f621fb.3ac98","type":"tcp in","z":"f41712ff.dd9de","name":"","server":"server","host":"","port":"52004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":1000,"wires":[["4f874f5b.a9cb6"]]},{"id":"acef7045.c2923","type":"function","z":"f41712ff.dd9de","name":"Create insert mariadb query ","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(uuid,\";\n    var values = \"(\\\"\" + msg._msgid + \"\\\",\";\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \",\";\n            else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    return result;\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar dataMap = context.global.dataMap;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\nvar queryInputData = makeColumnString(dataFormat, dataMap);\nvar queryStr = \"insert into \" + dataFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["21342357.0f670c"]]},{"id":"ff33c5a3.ce4298","type":"function","z":"f41712ff.dd9de","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-slab-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TcNo:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":600,"wires":[["ed2436b5.6f2288"]]},{"id":"ed2436b5.6f2288","type":"influxdb batch","z":"f41712ff.dd9de","influxdb":"85a94193.17dfb","precision":"ms","retentionPolicy":"","name":"","x":930,"y":600,"wires":[]},{"id":"21342357.0f670c","type":"mysql","z":"f41712ff.dd9de","mydb":"a28692d4.03579","name":"","x":890,"y":540,"wires":[[]]},{"id":"77e1cc71.24d794","type":"function","z":"f41712ff.dd9de","name":"Create Log Data Query ","func":"var sender_ip = \"\";\nif (msg.type === \"recv\")\n    sender_ip = msg.ip.slice(7, msg.ip.length);\nelse\n    sender_ip = msg.ip;\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\nvar queryStr = \"\";\n\nif (msg.type === \"recv\")\n    queryStr = \"insert into \" + context.global.LogFormat.recv + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nelse if (msg.type === \"send\")\n    queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nmsg.topic = queryStr;\nconsole.log(queryStr);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["578549ff.6cd188"]]},{"id":"578549ff.6cd188","type":"mysql","z":"f41712ff.dd9de","mydb":"a28692d4.03579","name":"","x":830,"y":440,"wires":[[]]},{"id":"d64af3.b0ea051","type":"function","z":"f41712ff.dd9de","name":"Set LadleData","func":"function checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"/\" + checkZeroTime(nowTime.getMonth()+1) + \"/\" + checkZeroTime(nowTime.getDate())  + \" \" + checkZeroTime(nowTime.getHours()) + \":\" + checkZeroTime(nowTime.getMinutes()) + \":\" + checkZeroTime(nowTime.getSeconds()) + \".\" + checkZeroTimeMillisec(nowTime.getMilliseconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n        if (valueStr !== undefined)\n            returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n        else if (context.global.SendDataFormat.title[i] === \"L2_Stime\") {\n            returnStr += nowDateFormat();\n        }\n    }\n    if (value == true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\n\nmsg.payload = createDataRefine(false);\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["a0318129.eb34c","2e1fbd5b.c1ab92"]]},{"id":"a0318129.eb34c","type":"tcp out","z":"f41712ff.dd9de","host":"192.168.0.107","port":"52004","beserver":"client","base64":false,"end":false,"name":"","x":890,"y":660,"wires":[]},{"id":"2e1fbd5b.c1ab92","type":"function","z":"f41712ff.dd9de","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\" + \"\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\n\nif (msg.payload !== null) {\n    var queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n    console.log(queryStr);\n    msg.topic = queryStr;\n\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":880,"y":720,"wires":[["f6b44367.5a818","e93a95cb.9fef28"]]},{"id":"f6b44367.5a818","type":"mysql","z":"f41712ff.dd9de","mydb":"a28692d4.03579","name":"","x":1110,"y":720,"wires":[[]]},{"id":"e93a95cb.9fef28","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":780,"wires":[]},{"id":"be149cca.3d5ad","type":"debug","z":"f41712ff.dd9de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":100,"wires":[]},{"id":"23ca43b5.1e93ac","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["1b367d57.16de13"]]},{"id":"58ac6eeb.798a4","type":"function","z":"54fead13.e0d974","name":"Set LadleData","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"/\" + checkZeroTime(nowTime.getMonth()+1) + \"/\" + checkZeroTime(nowTime.getDate())  + \" \" + checkZeroTime(nowTime.getHours()) + \":\" + checkZeroTime(nowTime.getMinutes()) + \":\" + checkZeroTime(nowTime.getSeconds()) + \".\" + checkZeroTimeMillisec(nowTime.getMilliseconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        if (context.global.SendDataFormat.title[i] === 'TcNo') {\n            returnStr += msg.sendmsg;\n            continue;\n        } else if (context.global.SendDataFormat.title[i] === \"L2_Stime\") {\n            returnStr += nowDateFormat();\n        } else {\n            if (context.global.dataMap === undefined) {\n                returnStr += getUID(context.global.SendDataFormat.len[i]);\n                continue;\n            } else {\n                var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n                returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n            }\n        }\n    }\n    if (value === true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\nmsg.payload = createDataRefine(false);\n\nconsole.log(msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":800,"wires":[["4b5b6238.ca239c","f810af17.2367b","87af90e1.75f6a"]]},{"id":"87af90e1.75f6a","type":"tcp out","z":"54fead13.e0d974","host":"localhost","port":"52004","beserver":"client","base64":false,"end":false,"name":"","x":910,"y":740,"wires":[]},{"id":"4b5b6238.ca239c","type":"function","z":"54fead13.e0d974","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_msg = msg.sendmsg;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\" + \"\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + \"\\\"\" + send_msg + \"\\\",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\n\nif (msg.payload !== null) {\n    var queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n    console.log(queryStr);\n    msg.topic = queryStr;\n\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":930,"y":800,"wires":[["de20be35.1f83e"]]},{"id":"de20be35.1f83e","type":"mysql","z":"54fead13.e0d974","mydb":"93c6c3fb.1f2ab","name":"","x":1150,"y":800,"wires":[[]]},{"id":"f810af17.2367b","type":"debug","z":"54fead13.e0d974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":860,"wires":[]},{"id":"285d1bd8.022e24","type":"comment","z":"54fead13.e0d974","name":"KR Send AI Server ","info":"","x":110,"y":680,"wires":[]},{"id":"1b367d57.16de13","type":"function","z":"54fead13.e0d974","name":"Send Message CP11","func":"msg.sendmsg = \"CP11\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["58ac6eeb.798a4"]]},{"id":"982d1490.455f78","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":800,"wires":[["c5c5a9d0.d26a28"]]},{"id":"c5c5a9d0.d26a28","type":"function","z":"54fead13.e0d974","name":"Send Message CP12","func":"msg.sendmsg = \"CP12\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["58ac6eeb.798a4"]]},{"id":"38620416.6a273c","type":"inject","z":"54fead13.e0d974","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["d0a7f837.106b88"]]},{"id":"d0a7f837.106b88","type":"function","z":"54fead13.e0d974","name":"Send Message CP13","func":"msg.sendmsg = \"CP13\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":860,"wires":[["58ac6eeb.798a4"]]}]